[2015-05-08 16:23] alexskinner opened #4 "New static cache prevents dynamic static assets"
We are dynamically serving TTF and WOFF files and our URLrewrite.xml is configured to rewrite it.

The code in this commit prevents the servlet handing the request and forces it to be a static asset, I think this caching behaviour should be configurable and by default off

https://github.com/cfmlprojects/runwar/commit/c2939af529e2a3cbbccef97ea1c8936d9098b9ac

[2015-07-02 17:09] bdw429s commented on #4
@denuno Any thoughts on this?  This has been preventing PresideCMS from running on CommandBox for a while now.

[2015-11-18 22:01] denuno commented on #4
This was fixed a while ago, by defaulting the cache to off.

[2015-11-18 22:01] #4 closed

[2015-11-20 04:46] denuno opened #5 "Ability to disable sendfile"
Copied from Undertow ticket:

We have recently moved a development environment from Apache+Tomcat to Undertow and have encountered a issue we had previously experienced with Apache as well. When a static file, e.g. Javascript is updated Undertow continues to serve the previous version of the file until it to restarted. In Apache we got around this by using the directive:

EnableSendfile Off
(Detai

[2015-11-20 05:23] denuno commented on #5
I've added a --sendfile-enable false (or just -sendfile false) config option, as well as a --transfer-min-size (-transferminsize) option, so you can either disable sendfile or set a custom transfer minimum size.

[2015-11-20 08:02] #5 closed

[2015-11-23 11:03] andrew-dixon commented on #5
@denuno Just to let you know, we build the runwar.jar file, replaced it in the .CommandBox lib directory and then updated the file:

`~/.CommandBox/cfml/system/services/ServerService.cfc`

To have `--sendfile-enabled false` as the last JVM argument and this fixed the issue.

Note the "d" on the end of the argument, had to check the source code to find out it should have that.

[2015-11-23 18:31] bdw429s commented on #5
Thanks guys.  I've entered this ticket for CommandBox
https://ortussolutions.atlassian.net/browse/COMMANDBOX-294

[2015-11-24 16:09] denuno commented on #5
Awesome Andrew, thanks for verifying that!  I've updated the argument to be --sendfile-enable (removing the "d") for the next release.  We'll address surfacing this setting in CommandBox on the ticket Brad created.

[2016-01-28 00:12] denuno opened #6 "svgz files are not served with content-encoding header"
The correct mime-type is being set, but we are missing the content-encoding="gzip" header.

[2016-01-28 00:13] denuno opened #7 "Update to latest version of undertow, 1.3.14.Final"
Update to 1.3.14.Final

[2016-01-28 00:15] denuno opened #8 "add the option to enable gzip compression"
It would be nice if we could enable gzip compression.

[2016-01-28 05:01] #8 closed

[2016-01-28 05:01] #7 closed

[2016-01-28 05:01] #6 closed

[2016-05-04 15:28] bdw429s opened #9 "Support rewrites for standalone servers"

[2016-05-04 19:22] bdw429s opened #10 "server won't start if cfengine name ends with an @"
See the following output from CommandBox that shows the inputs to runwar as well as the error that occurs.  I assume there is some faulty logic that assumes there will be text afte the `@` sign.

[code]

[2016-05-04 19:23] bdw429s opened #11 "WAR path doesn't work if it points to a zipped archive on Windows"
I'm guessing there's a base directory getting passed in incorrectly  Starting an exploded war seems to work fine.  So it's just when it gets unzipped to the temp dir that it has issues.

[2016-05-05 18:13] bdw429s opened #12 "Improve archived WAR deployment."
In Tomcat for example, zipped wars are exploded into a folder right there where the archive is and left there for all future starts.  Runwar explodes to a temp dir and deletes when it's done which means you lose everything.  I would recommend following the same pattern of creating a folder named the same as the zip and starting that.  If the folder already exists, just start it.

[2016-05-06 02:42] bdw429s opened #13 "Error starting server with space in path to RunWar jar"
[code]

I can reproduce this from the CommandBox REPL with this code if my CommandBox home has a space in it:
[code]
The space is replaced with `%20` and the `libdir.listFiles()` bit returns `null`.

[2016-05-06 02:48] denuno commented on #10
The only valid cfengine-name options are lucee, adobe, or railo... lucee@ just isn't valid, we'll need to catch that on the CommandBox side.

[2016-05-06 02:48] #10 closed

[2016-05-06 02:49] denuno commented on #10
I did add a check in runwar so it'll be a more informative error if that happens.

[2016-05-06 02:53] bdw429s commented on #10
I already changed it on the CommandBox side, but I'm not sure how it was ever working before.

[2016-05-06 02:57] denuno commented on #10
Pretty sure we had it hard-coded to lucee-- I don't think we needed to change the engine name since we changed it from railo, back before multi-engine support.

[2016-05-06 03:01] bdw429s commented on #10
Yeah, it used to be hard-coded to lucee before multi-engine.  Sorry, I mean I couldn't figure out how it worked from your original pull.  Dunno, so many variables got re-arranged I lost track.  Do I need to pass in the engine name for standalone servers, or only for the embedded one?

[2016-05-06 03:37] denuno commented on #10
I was just doing a listFirst(engineName,"@") I think.

Right now engineName doesn't really matter except for the embedded server, but we should pass it in regardless, as eventually I'll clean stuff up (only need to check for CFIDE on adobe, for instance, which will speed up the resource lookup by 000000001% ;]).

[2016-05-09 19:12] denuno commented on #9
Can you verify that this and the other issues have been resolved when you get a chance?

[2016-05-09 19:32] bdw429s commented on #9
Yep, hopping in a plane right now. I'll check it out very soon.

[2016-05-10 02:49] bdw429s commented on #9
So far as I can tell, rewrites work now for standalone servers, but have regressed for the embedded server.  Looking at the log shows this:
[code]
It would seem the xml file is being looked for in the wrong place even though the following params were sent to Runwar:
[code]

[2016-05-10 15:43] bdw429s commented on #11
Still having some troubles with this, but new ones now.  I grabbed the Lucee 5 war to test which is pretty easy to get here:
http://snapshot.lucee.org/rest/update/provider/war/5.0.0.244-SNAPSHOT

The first time I try to start the war with:
[code]
The first time, nothing happens and `server status --verbose` shows that the process timed out waiting.  No icon ever appears in the system tray and no j

[2016-05-10 15:43] bdw429s commented on #12
See comments on https://github.com/cfmlprojects/runwar/issues/11
perhaps we should merge these tickets since the functionality kind of all overlaps.

[2016-05-10 21:52] denuno commented on #11
Hmm, I've just been testing runwar itself... it's possible I'm not setting warPath correctly in commandbox.  FWIW, I just tested this on windows using the adobe 2016 war, and it exploded correctly and started the war, which was in a directory with a space in it.  I'll run a cmdbox build with the new jar and give the example above a go and see what the deal is.

[2016-05-10 22:25] denuno commented on #11
Alright, I sorted it-- that zip was structured differently than most, so I tweaked the unzip stuff to better handle zips like that, and voila.

[2016-05-11 00:34] webonix commented on #11
will
    box upgrade --latest
pick up these changes?

[2016-05-11 00:36] webonix commented on #11
oh - no, it doesn't
[code]

[2016-05-11 01:06] bdw429s commented on #11
You need two hyphens for a flag.  I don't think the version command has a verbose passenger though. Just hit that url and download a new binary.

[2016-05-11 01:52] webonix commented on #11
sorry - my misunderstanding of upgrades (and not reading what is in front of me)

[code]

[2016-05-11 03:12] bdw429s commented on #13
Is this one fixed?

[2016-05-11 03:12] #12 closed

[2016-05-11 03:12] bdw429s commented on #12
Seems to be working great now

[2016-05-11 03:13] #11 closed

[2016-05-11 03:13] bdw429s commented on #9
Is this ready to re-test or still outstanding?

[2016-05-11 03:14] bdw429s opened #14 "Sample war doesn't load"
This sample war provided by Tomcat won't load in CommandBox/runwar.  Seems we make some assumptions about the existence of jars in the lib folder?

https://tomcat.apache.org/tomcat-7.0-doc/appdev/sample/sample.war
[code]

[2016-05-11 03:19] bdw429s commented on #14
Same  issue with https://glassfish.dev.java.net/downloads/quickstart/hello.war

[2016-05-11 03:33] bdw429s opened #15 "Runwar has unsigned entries"
I don't know what this means, but I ran across it while testing random wars from the Internet.  This exception was thrown from a war called Gitblit
http://dl.bintray.com/gitblit/releases/gitblit-1.7.1.war

It seems to be implying that something inside Runwar isn't secure.

[code]

[2016-05-11 04:20] denuno commented on #13
Seems to be for me.  We can reopen if not.

[2016-05-11 04:20] #13 closed

[2016-05-11 04:22] denuno commented on #9
I think I fixed this with the last version bump, but I'm about to do another with the fix for those wars you found (though not sure about the signing one).

[2016-05-11 04:46] denuno commented on #14
Should be fixed in 3.4.5, building shortly here.

[2016-05-11 04:46] #14 closed

[2016-05-11 04:47] denuno commented on #9
Seems fixed from my testing, reopen if not.

[2016-05-11 04:47] #9 closed

[2016-05-11 04:48] denuno commented on #15
I think this is because we have the BC jars included ourselves, and that one does the same... I could sign runwar.jar, but I don't have a trusted certificate, so I'm still pondering how to resolve this one.

[2016-05-11 14:49] bdw429s commented on #9
Yep, seems to be working now for internal servers.

[2016-05-11 15:02] bdw429s commented on #15
Ok, probably not the biggest issue in the world, but since we want this to work with "any" java war we might run into it again in the future.  I don't know what it takes to get a trusted cert.

[2016-05-11 17:32] bdw429s opened #16 "HTTP does not work when HTTPS is enabled"
If I do this in CommandBox:
[code]
Then I can't hit the HTTP URL.
Runwar params are:
[code]

The browser returns:

When I look at `netstat`, the HTTP port isn't being listened on.

[2016-05-11 17:33] bdw429s opened #17 "Runwar tries to open HTTP URL even when HTTP is turned off"
If I start a CommandBox sever with HTTPS enabled and HTTP disabled, the browser doesn't open and the log shows a timeout trying to open the HTTP URL, which obviously won't work.

[2016-05-11 18:22] denuno commented on #16
That's actually by design.  You can also enable HTTP by passing in the httpenable=true if you want both.  I'm open to changing it though if that seems too weird.

[2016-05-11 18:30] denuno commented on #17
Hrmm, I'll take a look at fixing this, but the URLs aren't really coming from runwar, they're passed in as arguments or are part of the tray config json file... still, I can see the appeal of not having to use separate configurations for the URLs, so hopefully it won't be too hard of a tweak.

[2016-05-11 19:37] bdw429s commented on #17
Ahh, I think I see where it's coming from.  I never knew that was passed to runwar.  Let me see if I can fix this from the CommandBox end.

[2016-05-11 20:41] bdw429s commented on #16
Sorry, the options in my original post were wrong.  I am passing `http-enable` as true but HTTP still isn't available.

[2016-05-11 21:45] bdw429s commented on #17
OK,  I'm passing the SSL URL to runwar now, but it's still not opening the browser.  Looking at the server log, I think something inside Runwar is still trying to use the HTTP port.

[code]

[2016-05-12 02:58] denuno commented on #17
I'd transposed an argument name, so this should be fixed in the next build.

[2016-05-12 03:00] denuno commented on #17
I also have it automatically switch the URL to https if SSL is enabled, FWIW.

[2016-05-12 03:02] bdw429s commented on #17
Sweet thanks.  I made the same change in CommandBox. If SSL is enabled, I favor that over HTTP.

[2016-05-12 19:57] denuno commented on #15
Instead of getting a trusted cert, which is kinda overkill (it has to be a special one from Oracle), we can bundle the bouncycastle jars, and then expand them to the temp dir upon startup, and then load them, which gets around the signing issue... just not sure about the overhead of expanding 2 megs to the temp dir with every run. :-/

[2016-05-12 20:30] bdw429s commented on #15
You mean they can't just be dumped in the `/lib` folder with the rest of the jars?

[2016-05-12 22:58] denuno commented on #15
We need them for runwar itself to do SSL support, and I _think_ for the internal server's cfmail, though I may be misremembering.  Up until now we've just been shading the classes into runwar, but that's where the signature error comes from.  I may apply for one of those certs from Oracle, just because that's the cleanest approach I think, but I dunno how likely or how long getting one of those ce

[2016-05-19 14:19] bdw429s opened #18 "Allow for aliases in web path"
IIS and Apache etc all have the concept of aliases or virtual directories.  The more local dev we're doing the more of an issue it is not to have this.  Allow some list of paths that map a fake web path to a real path on the file system.

[2016-05-19 14:21] bdw429s opened #19 "Multiple hosts"
We're run across a few client sites where we can't use CommandBox for local dev because they need multiple domains all pointing to CommandBox/Runwar.  This could come in a hard-coded list of domains that the site needs bound to, or some wildcard setup/all domains on a given IP.  What's the best way to support this?

[2016-05-19 15:35] gpickin commented on #18
I agree.

[2016-05-19 15:35] gpickin commented on #19
Not as important as Virtual Directories, but still very useful.

[2016-05-19 17:24] denuno commented on #18
Would this syntax work:  "/real/path:/virtual/path./real/path:/virtual/path...." ?

[2016-05-19 17:26] denuno commented on #19
Binding is done by IP versus host name, and I think either you can (or you could) pass in 0.0.0.0 to have it bind to all IPs, and then we could change the host attribute to take a list of IPs to bind to individually...

[2016-05-19 17:30] bdw429s commented on #18
So a comma-delimited list of real/virtual pairs consisting of a colon-delimited list of the real and virtual path?  I don't think we can do colons since Windows OS's will have one of those in their actual path `C:\etc`.  What about a semi-colon?

[2016-05-19 17:36] bdw429s commented on #19
Like, in general?  What happens when I do:
```server start host=foo.com```
Does Runwar not actually use that at all?  In other words, if I also had a host file entry pointing `bar.com` to the same IP as `foo.com`, would the Runwar server still respond to `bar.com`?

In Apache, IIS, etc the request would be reject since the site wasn't bound to that host.

[2016-05-19 17:42] denuno commented on #19
I'm pretty sure it does something like IP.getByHostName(name)... I just had another thought though, we do a bunch of links and whatnot using that hostname, I'm not sure how we'd handle that.

You can have a basically unlimited list of hosts per IP, so this problem is currently solvable (well, not the links problem mentioned above) by simply putting the desired host names in the hosts file, and hav

[2016-05-19 17:44] denuno commented on #18
If it's in a string, the colon /should/ be fine, but I haven't tested yet (they should be in strings anyway though, to account for spaces and stuff).

[2016-05-19 17:53] bdw429s commented on #19
Are you talking about like what happens when you right click on the tray icon and choose "open site" or something?  It think it's a fair solution to just open the first host.  It would probably be possible to make the menu flyout and have a list of hosts there (as long as they were canonical and didn't have wildcards like `*.foo.com`).  That could even be cool to link to each of the Lucee web admi

[2016-05-19 17:56] bdw429s commented on #18
No, I'm not concerned about the OS parsing of it when we pass the args to Runwar.  I'm saying we can't use a colon as a meta-character if it's also a valid character in the contents of our list items.  Unless, of course, we allow them to escape it, but why not just use a different delimiter.

Take this example:

[code]

You can't reliably break that string on colons because the actual Windows path

[2016-05-19 20:57] bdw429s commented on #18
FWIW, I was just adding an alias to Tomcat's `server.xml`. Here's the syntax they use:

[code]

So it's an equals sign to delimit the virtual=real pairs and then commas between multiple pairs.

[2016-05-19 22:37] denuno commented on #18
Seems like a good syntax to me, let's do it that way.
On May 19, 2016 3:20 PM, "Brad Wood" <notifications@github.com> wrote:

[2016-05-24 03:39] bdw429s opened #20 "Don't wipe server out log every time the server starts"
It would be nice to keep the contents of the server out log across restarts.

[2016-05-31 03:02] #16 closed

[2016-05-31 03:05] denuno commented on #17
This should be fixed in 3.4.6 too

[2016-05-31 03:05] #17 closed

[2016-05-31 03:07] denuno commented on #20
Need to make this rolling if so... maybe a 10MB cut off... will have to see what the best option to do this will be, since windows makes that kind of thing hard.

[2016-05-31 03:30] denuno commented on #19
So, we can talk about listening on more than one IP, as that is probably doable, but we need to be clear about what that actually does-- which is just bind the application to an IP (and 1 to 4 ports on that IP, depending on how we want to listen for shutdown, plus SSL and/or AJP).

It won't create extra "web contexts" in Lucee, for example.  That would require the "shared jar" + multiple WAR suppo

[2016-06-01 03:58] bdw429s commented on #20
FWIW, Tomcat doesn't roll it's `catalina.out` log and they call it a "feature".  At least, not while it's running.  They do roll it when you stop/start the server.

[2016-06-01 04:11] bdw429s commented on #19
Yeah to be clear-- I wasn't suggesting that with this ticket people would be able to spin up more than one site in more than one web root listening on more than one host, etc.  Just that more than one domain would respond.  However, it seems that Runwar is listening to any requests on that IP/port already which takes care of a lot of situations with a host file entry.  I think I originally assumed

[2016-06-01 06:11] #18 closed

[2016-06-01 06:11] #20 closed

[2016-06-01 06:16] denuno commented on #18
So now instead of just plain dirs, you can pass aliased ones too, eg:
`--dirs "/CFIDE=C:\ColdFusion11\cfusion\wwwroot\CFIDE,..."`

[2016-06-01 14:50] bdw429s commented on #18
This looks great.  I'm excited to give it a try.  Need to lock down 3.1 soon though (I'm out all next week prior to ITB and dev.Objective ) but I'd like to get all these latest Runwar fixes in for this release as long as they're stable.

[2016-06-29 19:19] bdw429s opened #21 "Starting background server uses JVM args in two java processes."
When working with the Fusion Reactor guys to get FR running CommandBox, they pointed out that the java agent for FR was getting loaded twice-- once on the temporary process that CommandBox spins up and again on the actual server process.  The temp process exits once the server is running, but causes conflicts since FR is trying to load twice at the same time on two processes.

When starting a back

[2016-07-01 20:07] bdw429s opened #22 "Pass right click tray options in ad-hoc JSON"
I've got a handful of pre-made JSON files that CommandBox uses depending on the engine being used.   It would be nice to make ad-hoc contributions without needing to write out a file. For instance, if the user enables my soon-to-be-written Fusion Reactor module, I'd like to toss in an extra menu item to open the FR web console.  I can toss the JSON in a temp file and point to it, but it would be c

[2016-07-13 02:54] bdw429s opened #23 "file list still displays after adding index file."
Steps to reproduce:

1. Start CommandBox server in empty folder (or a folder without an `index.cfm` at least)
2. Browser opens with file list showing
3. Create an `index.cfm` file
4. Refresh browser.  File list still displays even though the `index.cfm` should be run
5. This continues until server is restarted

[2016-07-30 06:16] DominicWatson opened #24 "Various Linux Desktops do not support system tray - use AppIndicator when available"
Even those desktops that _do_ support it have issues (no transparency, crashing issues after laptop sleep, etc.).

Need to fall back to systray when AppIndicator is not available and use AppIndicator when it _is_ available.

[2016-07-30 09:39] jay2001 commented on #23
This will happen in sub directories as well. If you create an empty sub directory you get this issue, if you put the index.cfm in it before opening in the browser it works as expected.

[2016-07-30 17:32] denuno commented on #23
I think I have this sorted for the next release, which will probably be Sunday evening.

[2016-07-30 17:34] denuno opened #26 "Custom SSL certs use the wrong passphrase for the keystore"
What the subject says-- only current work around is to set the key passphrase to the same as the built-in keystore passphrase: `password`

[2016-08-08 01:22] denuno commented on #21
I think I got this going in the develop branch.  I added a new option named jvmargs, which accepts a semi-colon-separated list of JVM arguments.
Ex:
[code]
We'll have to think about this a little-- I chose semi-colon since I don't believe it's common to have one in a jvm arg, but we may need to use something else if I'm mistaken... I reckon if we can get it to work with FR that'll be a good first

[2016-08-08 01:27] denuno commented on #22
We could do something like this, but keep in mind that there's a limit to how much you can pass on the command line without using a file to store the arguments (this is an OS limit), and I'm thinking JSON menu info would use that up pretty quick.

It's probably better to use a file and just write it on the fly before starting or some-such, versus adding this feature.

Another theoretical option wo

[2016-08-10 22:08] bdw429s commented on #22
Good call on the arg limit.  I wasn't aware of that.  I'm fine with writing a temp file if it prevents us from hitting limits on the length of JVM args.  I would love to be able to handle this with CFML.  The only detriment I can think of to that is that there would be a small delay when the CLI started up to process their right click.  I love the idea of having completely dynamic right click menu

[2016-08-10 22:12] bdw429s commented on #21
Thanks.  If I have a JVM arg with a double quote in it, I assume I'd use the standard escaping rules?  For what it's worth, Fusion Reactor 6.2 released a fix that allowed it to work, but I'm sure there will be other issues related to this in the future so it's a good thing to get nailed down.

Can you clarify what the semi colon is for?  Is that to delimit each arg?  Does it really matter how many

[2016-08-14 19:15] denuno commented on #23
Well, it turned out to be something a bit different than I thought, and rather tricky.

The resource type for the  path is cached in the ServletPathMatcher when it is run on the initial request for the resource, which is when the welcom-file list is checked.

What this amounts to is that the welcome file list is only checked for once.

There doesn't seem to be any easy way to disable the path cach

[2016-08-15 02:53] bdw429s commented on #23
Thanks for the update @denuno , I'm surprised Undertow hasn't had people run into this more often, but I suppose Java apps don't usually include JIT deployments like that.  Would it be possible to invalidate the cache for a URL if that URL displayed a file listing specifically?  I would suppose you would want to cache the resource provider for actual files that were resolved/served/etc, but browsi

[2016-08-17 01:49] bdw429s opened #27 "Ability to customize 404 page (and other relevant 40x/50x) statuses"
If I hit a 404 through the default resource handler in Runwar, I just see the text "Not Found".  Allow the user to customize the html file to be loaded in the event of errors.

[2016-08-17 02:27] bdw429s opened #28 "Directory aliases don't run CFML code"
If I create a directory alias with the JVM arg `--dirs "/foo=C:\"` and then start my server, I will correctly see a directory listing of my C:\ drive when I hit `http://localhost/foo`.
I can also browse static assets successfully such as `http://localhost/foo/bar.txt`

If I attempt to load a CFM file like `http://localhost/foo/baz.cfm`. I will receive an error message that `foo/baz.cfm` was not fo

[2016-08-17 02:31] bdw429s commented on #18
Got a chance to test this today. Opened this ticket: https://github.com/cfmlprojects/runwar/issues/28

[2016-08-17 18:09] bdw429s opened #29 "Flex /CFForm paths incorrect on Windows."
When I start a CF11 update 9 server, I get the following in the server out log:

`08/17 13:00:03 INFO License Service: Flex 1.5 CF Edition enabled
java.io.FileNotFoundException: C:\Users\Brad.development\.CommandBox\server\EA0C94E13CBC167445ACE038CC36B0B7-wwwroot\adobe-11.0.09.299201C:\Users\Brad.develo
pment\.CommandBox\server\EA0C94E13CBC167445ACE038CC36B0B7-wwwroot\adobe-11.0.09.299201\WEB-INF\

[2016-08-17 21:47] bdw429s opened #30 "Runwar 3.4.6 breaks Adobe CF engines"
When updating from Runwar `3.4.5` to `3.4.6`, Adobe CF servers 9, 10, 11, and 2016 no longer work.  The servers start up, hitting a page returns a 404.  If there is an Application.cfc, the error is usually that that file can't be found.  Even the administrator won't load.  Something is messing up the paths being sent to the engine such that Adobe can't locate any of the files on the harddrive.

[2016-08-18 21:21] denuno commented on #28
What happens if you add a mapping in the cfml engine admin for the aliased dir?  Is the page found then?

[2016-08-20 07:14] denuno commented on #30
The paths are fine, it's actually the servlet context init params.  What Adobe needs isn't apparently what other stuff needs, so I broke Adobe when fixing other stuff.  Yay!

For some reason Adobe needs coldfusion.compiler.outputDir (in web.xml) to be an absolute path for it to know where to put the compiled classes.

Leaving it as-is, `/WEB-INF/cfclasses`, results in it trying to write class file

[2016-08-20 07:28] denuno commented on #21
The underlying implementation expects a list, one entry for each argument+value, so we have to split it up somehow.

I was hoping to just use a string with a split() on spaces, but thought there might be spaces inside stuff we didn't want split, so opted for the semi-colon.

We could try using the space, or adding some parsing code, but as this is the first time this has come up, and seemed to be

[2016-08-20 07:49] denuno commented on #29
Can you confirm that this is happening for all Adobe versions?  Or is it just 11?

I really need to write some tests for this stuff, as I'm fearful that something I thought I saw, and then thought, thankfully, that I hadn't seen, had, indeed, been seen, and does, indeed -- sadly -- exist.  That thing, being: different behavior for this between Adobe versions.

The setting for the cfform directory

[2016-08-20 16:43] denuno commented on #27
You can actually control this via web.xml, by setting error pages.

[code]

However, that wasn't actually working until I added it to the web.xml parser, so, um, yeah, setting them that way should at least work in 3.4.9.

I kinda also like the fast method of passing them in, though in reality it's probably better (more portable) to use web.xml... so we could add, like:

 errorpages="400:/some/loca

[2016-08-22 20:43] bdw429s commented on #30
Thanks @denuno !  Shoulds this be closed?

[2016-08-22 21:03] bdw429s commented on #21
Hmm, I see.  The trick is, I have no control right now over (parts of) the incoming string.  Users are allowed to pass their own collection of custom JVM arguments in a string and so far, I've just been slapping them onto the command that gets run.  I almost implemented it as an array, but had stuck with a string just to keep it simple since I didn't care how many JVM args they gave me.

I don't t

[2016-08-22 21:04] bdw429s commented on #29
@denuno Do you think your fix for https://github.com/cfmlprojects/runwar/issues/30 fixed this too?  I can test the other ACF versions, but if you have a fix in place for https://github.com/cfmlprojects/runwar/issues/30 , I might as well get that first before doing any more testing.

[2016-08-22 21:11] bdw429s commented on #27
@denuno Thx for letting me know about the `web.xml` settings.  For the most part, it's not easy for a CommandBox user to edit their `web.xml` on the fly since it's downloaded and deployed for them. (An `onServerStart()` interceptor would be the closest they could get)  I've also tried to avoid adding the full breadth of servlet settings to CommandBox, but I don't mind too much adding settings that

[2016-08-22 21:23] bdw429s commented on #28
Yes, if I put in a CF mapping that's the same as the web alias name, Lucee will resolve the file.  I can't test on Adobe CF right now since ACF is broken at the moment and I can't build CommandBox with Runwar `3.4.9` because it doesn't appear to be published in your Maven repo yet.

Do you how the standard web connectors for Apache and Lucee/ACF handle this?  They somehow pass the full path throug

[2016-08-22 21:25] bdw429s commented on #22
Question: if I write a temp JSON file, how long does it need to live for. If it's put in a temp directory, it might get cleared out quickly. Will Runwar read it right away and then cache its contents?

[2016-08-25 22:06] yogidevbear opened #31 "Support apache-style rewrite configs"
"I think a nice way of doing it would be to check the extension of the (optional) urlrewrite config file, and if it is an .htaccess file, automatically set the appropriate init params." - Denny on cfml slack

[2016-08-28 21:49] denuno commented on #30
Should automagically get closed when I merge this stuff into master.

The snapshot for 3.4.9 is up there if you want to give these latest fixes a spin.

[2016-09-02 02:07] denuno commented on #23
So what I ended up doing was checking to see if the path ends with "/" -- which all directories seem to do with Undertow -- and if it does, reset the cache.

I tied it to the directoryBrowing parameter too, so it'll only do that if you have directory browsing enabled.

I like this much better that the other approaches- though at some point we may want to enable resource monitoring, so I kept that

[2016-09-02 02:19] denuno commented on #29
I don't think #30 will affect this, as although it's the same-ish problem, it's a different init parameter, and I think it may need to vary based on the Adobe engine version, versus just the engine type.

I had an idea about this though, if it does turn out to be version specific, and that is to check for files that only exist in the versions (AFAIK, assuming I'm not way off, the variance is betwe

[2016-09-13 05:32] bdw429s commented on #22
Resolved by writing temp files
https://ortussolutions.atlassian.net/browse/COMMANDBOX-428

[2016-09-13 05:32] #22 closed

[2016-09-13 05:44] bdw429s commented on #27
Hey @denuno Glancing at the code, is this the correct format that you ended up implementing?
[code]
Also, can you help clarify in which scenarios the default is used?  Is that when there is no error page specified for the exact status code in question?  Do error pages have to be html? If I specify a .cfm error page, will it actually process via the CF engine?

[2016-10-02 03:37] bdw429s commented on #27
@denuno Can you answer my questions above when you get a chance please?

[2016-10-02 04:18] bdw429s commented on #27
I played around with this a bunch tonight to try and figure out what works.

**500** -  Not sure how to test?

**Default** -  Not sure how to test?

**404** - See below
- `/404.html` with leading slash and matching file in webroot works.
- `/404.cfm` Same as above, but with CFML code works-- nice touch!!
- `404.html` _without_ leading slash throws crazy Undertow exception: `java.lang.IllegalArgume

[2016-10-02 19:42] denuno commented on #27
I'm not sure how you'd test a 500 either, I think it may only be useful for JSP?

The `default` is the catch-all, so any error will be forwarded to the location specified, unless there's a specific errorPage with the specific code defined, which will take precedence.

We can fix the crazy Undertow exception for a location with a missing leading slash easy enough, but I can't think of a way to use

[2016-10-02 20:05] denuno opened #32 "Verify that any errorPages start with a "/""
If you pass in an errorPage of, say, `404.cfm` the location cannot be resolved, so we need to be sure that they all start with "/".

_TODO: verify we don't need to do anything different if the WAR context is something other than "/"._

[2016-10-02 20:14] denuno commented on #27
Oh yeah, and as for the "white page of death" (heh) when you have a bad location for the error page, there's nothing else to really do, as like I said there's no pre-forwarding validation going on (trying to do so could cause lots of hard to track down problems), and you could end up with an infinite loop if it tried to do any more redirection after the first one-- which again, isn't checked for a

[2016-10-03 02:52] bdw429s commented on #27
@denuno If the error pages were designed to be a relative reference inside the web root, then I'm ok with it.   I thought at first perhaps it was only an oversight.   I'll just document the fact that it needs to be another valid web path inside the application.  Also also add a check to add the `/` to the start of any error page for the user since it sounds like there would never be a valid scenar

[2016-10-03 02:54] bdw429s commented on #27
Instead of trying to redirect, is it possible to just hardcode some sort of brief error message directly to the output stream?  Something that says there was an error displaying the error page and see if there's a `javax.servlet.error.message = Not Found` to include.

[2016-10-03 03:08] bdw429s opened #33 "Incorrect default error page set when error-pages is empty string."
When I pass this JVM arg:
[code]
I see this in the Runwar debug output:

And all 404 pages seem to redirect back to the default index.cfm of my site.  If an empty `--error-pages` param is passed, I would not expect a default error page to be set.

[2016-10-03 15:36] #28 closed

[2016-10-03 15:45] bdw429s opened #34 "Runwar tries to start Railo/Lucee sites as a WAR even if they aren't due to WEB-INF"
https://ortussolutions.atlassian.net/browse/COMMANDBOX-398

We need to make Runwar a bit smarter at detecting when a site is a WAR.  Pretty commonly, people try to use CommandBox/Runwar to start up a site previously used with a stock installation of Railo or Lucee, which has a `WEB-INF` folder in the web root.  Since the site _looks_ like a WAR, Runwar tries to treat it as one, but the `WEB-INF` h

[2016-10-03 16:57] bdw429s commented on #34
https://github.com/cfmlprojects/runwar/pull/35

[2016-10-04 16:57] bdw429s commented on #34
Additional pull
https://github.com/cfmlprojects/runwar/pull/36

[2016-10-05 02:48] denuno opened #37 "Handle incorrect errorPage locations"
If you use an incorrect errorPage location, you only get a blank screen back.  It would be nice if there was output of some kind somewhere to let you know the cause of the emptiness.

For now we'll settle for logging it as an error, since that's all I could figure out how to do.

[2016-10-05 02:55] #21 closed

[2016-10-05 02:55] #23 closed

[2016-10-05 02:55] #24 closed

[2016-10-05 02:55] #27 closed

[2016-10-05 02:55] #31 closed

[2016-10-05 02:55] #32 closed

[2016-10-05 02:55] #33 closed

[2016-10-05 02:55] #37 closed

[2016-10-05 02:58] denuno commented on #26
Should be fixed now.

[2016-10-05 02:58] #26 closed

[2016-10-05 02:58] #30 closed

[2016-10-07 10:54] bdw429s opened #38 "Runwar server processes never exit in 3.4.9 final"
Just putting this here to document what we talked about.  The shutdown hooks in Runwar never complete and appear to be waiting on some AWT calls to finish.  This affects both server processes as well as the main CommandBox CLI process after it's started and stopped at least one service.

[2016-10-07 11:00] bdw429s opened #39 "Allow caller to control the new grayed-out top menu item"
Add a new attribute to the menu items defined in the menu JSON to create an information-only menu item.  This will allow CommandBox to control what's in the top menu item (or if it's there at all).  This will also help people whitelabel a standalone server with custom options, or even add their own divider rows in the menu for organization.

[2016-10-07 11:00] bdw429s commented on #39
Mentioned this in Slack too.  Just putting it here so it doesn't get lost.

[2016-10-08 01:19] #38 closed

[2016-10-08 01:19] #39 closed

[2016-10-08 01:20] denuno commented on #38
Should be fixed, if not reopen :-)

[2016-10-08 01:24] denuno commented on #39
Take a look at the new [tray config options](https://github.com/cfmlprojects/runwar/blob/master/src/runwar/taskbar.json)... theoretically you can set the tooltip, if an item is disabled, as well as give each one a custom image if wanted.

[2016-10-08 04:27] #34 closed

[2016-10-08 04:27] bdw429s commented on #39
Noiiiice... a custom image as well.  I'm in love!

[2016-10-08 22:45] bdw429s opened #40 "Tray icon not being resized in Ubuntu 16.04.1 LTS"
Ubuntu 16.04.1 LTS desktop is using the full size image icon when starting a server which takes up a huge amount of horizontal space in the system tray.  See attached screenshot.

Let me know if I should be doing something different in CommandBox, or if Runwar should be handling this?

![image](https://cloud.githubusercontent.com/assets/584009/19216385/1bf4fde0-8d6e-11e6-8bbf-af6babbf2753.png)

[2016-10-10 04:23] denuno opened #41 "Trying to resolve DTDs without a network throws an error"
We should turn off DTD checks and whatnot, we're fine with a runtime error versus trying to do validation and failing if there's no network.

[2016-10-10 04:25] denuno commented on #41
Fixed in the 3.4.11 snapshot

[2016-10-13 22:31] bdw429s opened #42 "make welcome-file option override web.xml"
Make the following:

[code]

take precedence regardless of whether the war has a `web.xml`.

CommandBox sister ticket: https://ortussolutions.atlassian.net/browse/COMMANDBOX-473

[2016-10-14 18:22] jjannek opened #43 "On OS X the tray icons look pixelated and the notifications pop up in the lower right corner"
Since the last update the tray icon looks very pixelated on OS X.
In addition on OS X the notifications show up in the lower right corner.
It would be more OS consistent if they show up in the upper right corner.

From a OS-design perspective (I know - low prio ;-) ) it looks not as good quality as before the update. No notification of any other application looks like this one. Nothing that is cri

[2016-10-17 17:38] dontascii opened #44 "java.library.path on Windows invalid."
I receive io.undertow.request UT005071: Undertow request failed HttpServerExchange and java.io.IOError: java.io.FileNotFoundException: NUL: (The system cannot find the file specified) errors when I start any server using runwar.  (I use commandbox on windows7)

This issue has been driving me mad for about a month. Today, I discovered something that might be causing the issue on Windows boxes.  (I

[2016-10-17 18:27] dontascii commented on #44
See Line 315 and 316 of server.java. [https://github.com/cfmlprojects/runwar/blob/master/src/runwar/Server.java#L315]

[2016-10-17 20:52] #44 closed

[2016-11-08 02:45] bdw429s commented on #42
Any update on this @denuno ?

[2016-11-16 19:41] #41 closed

[2016-11-17 20:48] denuno opened #46 "Add a way to disable the rest servlet, bonus points for also making the paths configurable."
The internal server will add the default "/rest" servlet and mapping when it starts up.  It would be swell if we could disable that behavior.  It would also be nice to be able to bind it to a comma-separated list of paths, instead of just `/rest`.

[2016-11-18 04:33] denuno opened #47 "Support double-wildcard mapping for SES that uses paths like index.cfm/some/info"
You can already do this by adding "/index.cfm/*" as a servlet path in web.xml, but you have to do it for every sub-directory too, e.g. "/blog/index.cfm/*", "/api/index.cfc/*", etc..

If we could do double-wildcard mappings we could just define "*.cfm/*" as a path and have that work.  We can't do that though, the spec only calls for support of one.

Instead we use a servlet filter that mimics that

[2016-11-18 04:45] denuno commented on #43
Are you talking about the tray icon in the top tray?  Not the dock icon, correct?  From some limited testing, the top tray icon _seems_ to look correct, but my resolution isn't super-high.  If you could add a screenshot of the icon that'd be cool.  I went ahead and moved the notifications to be on the top-right at least, which looks much better, thanks!

[2016-11-18 06:51] jjannek commented on #43
<img width="214" alt="bildschirmfoto 2016-11-18 um 07 46 19" src="https://cloud.githubusercontent.com/assets/10448261/20421294/31c2446a-ad63-11e6-8f5b-e0491aa27ecb.png">

I am on a 15'' macbook pro with retina display - using standard/native resolution. All icons in the dropdown menu also look blurry/pixelated. Not as much as the server icon in the screenshot but they are also not sharp. I cannot

[2016-11-18 06:58] jjannek commented on #43
FWIW: Preside platform commandbox commands use a custom icon and that is blurry as well. As the icons did not change and look super high-res if checking the file on disk I guess it has something to do with the new menu/tray itself.
With older releases the icons have all been sharp.
The file I had a look at is .../.CommandBox/lib/trayicon.png which is 600px x 600px.

[2016-11-19 06:20] bdw429s commented on #42
Just bumped to the latest runwar and I've got an exception coming from the welcome file list change

[code]

[2016-11-19 06:37] bdw429s commented on #46
This fix is causing an NPE
[code]
The code there is
[code]

[2016-11-23 04:51] bdw429s commented on #42
So best as I can tell-- welcome pages don't work at all for internal server regardless of whether I pass the `--welcome-files` param.  Welcome files work on WAR servers ONLY if I don't supply a setting and let it default.  If I set a custom welcome page, I just get a directory listing.

[2016-11-23 05:08] bdw429s commented on #46
What would it take to make this setting override the `web.xml` like we do for welcome files?  This could be pretty handy even for wars so people can change or turn off the REST handler since editing their `web.xml` file really isn't easy on a CommandBox server.

[2016-11-23 05:20] bdw429s commented on #47
This looks great.  Just tested with the internal Luicee 4.5 server, Lucee 5 war, and Adobe 2016 war and it all works.  Turning off the flag in each server also works as expected.   I think we can stick a fork in this one...

[2016-11-29 05:17] bdw429s commented on #42
Any update on this @denuno ?  This feature seems DOA.

[2016-11-29 05:19] bdw429s commented on #29
I think this is fixed by this ticket:
https://ortussolutions.atlassian.net/browse/COMMANDBOX-475

[2016-11-29 05:19] #29 closed

[2016-11-30 23:58] bdw429s opened #48 "Libdirs ignored when WAR has a lib folder"
This line of code makes it impossible for me to mix in additional libdirs to a server since Runwar throws away what I give it and only uses the WAR's lib folder.

https://github.com/cfmlprojects/runwar/blob/cd5b84d52fa8614f0b03b4e4c91a89c048e5b6db/src/runwar/Server.java#L283

If I pass libdirs to Runwar, I want them to be used.

[2016-12-01 07:36] bdw429s commented on #48
@denuno Pull created: https://github.com/cfmlprojects/runwar/pull/49

[2016-12-02 04:14] bdw429s commented on #42
I think I have a fix here:
https://github.com/cfmlprojects/runwar/pull/50

[2016-12-05 15:52] bdw429s opened #52 "Allow aliases to be case insensitive"
Don't know if this is easy or worth it, but I ran into a client the other day who wanted to use CommandBox to spin up a site that was formerly running on IIS/Windows.  They had inconsistent directory casing for stuff like:
[code]
If it's easy, provide a flag that can turn the aliases case-insensitive.  If it's not easy, then don't worry about it :)

[2016-12-12 20:51] bdw429s commented on #48
This looks to be working now in the latests snapshot.  Do you want me to close this ticket, or do you prefer to close it when you release next @denuno?

[2016-12-12 20:52] bdw429s commented on #42
Working in the latest snapshot BTW.

[2016-12-12 20:59] bdw429s opened #53 "Websocket support"
I need some helping tracking down an issue with getting Igal's new Websocket extension for Lucee 5 to work with Undertow.  I've gotten to a place where I'm not sure if changes need to happen to CommandBox, Runwar, Undertow, or the extension.

See this demo: https://www.youtube.com/watch?v=4nC1lMv-QwI
There are links to both the extension and the sample app in the video description.  To get it work

[2016-12-12 21:08] bdw429s commented on #53
For what it's worth, adding the `undertow-websockets-jsr` to my lib path, doesn't resolve the NPE.

[2016-12-15 06:17] bdw429s commented on #46
Now that the next version of CommandBox basically doesn't have an internal server any longer-- they're all WAR-based servers, we pretty much have to allow this to override the `web.xml` or it will be useless.

[2016-12-16 06:21] bdw429s opened #54 "web.xml cannot be specified outside of WEB-INF"
It's not possible to point to an ad-hoc `web.xml` file as Runwar uses the path to the `web.xml` to determine the location of the `WEB-INF` and there's not a separate command line arg to tell Runwar where the `WEB-INF` is.
[code]

If I set the `-war` path to the actual war and point `--dirs` to the web root, I get a `404` where Lucee is thinking the war root is the web root.  Not sure if it's actua

[2016-12-26 17:19] bdw429s opened #55 "Stop adding Lucee java agent"
Runwar tries to dynamically load the java agent for even Adobe servers.  The java agent isn't even needed on Lucee 5 and I leave it off nowadays even on Lucee 4 due to serious performance issues that it has caused that remain unfixed.  (They were fixed in Lucee 5).  CommandBox takes are of adding the java agent when it's needed, so runwar doesn't need to do it at all.  If there is a non-CommandBox

[2016-12-26 18:00] bdw429s commented on #55
Here is some of the debug output from starting an Adobe WAR file which shouldn't be doing anything with the Lucee java agent.

[code]

[2016-12-27 07:16] bdw429s opened #56 "Tone down some of the output when starting with --debug"
The new version of CommandBox adds several new features to make it easier to stream the console output while starting a server.  As such, I'd like to improve the signal to noise ratio of what gets output for a normal server start.  There's three big blocks of text that wouldn't be present in a "normal" start.  They do seem like they could be useful though, so I'd recommend we only show them if the

[2016-12-27 07:24] bdw429s opened #57 "Runwar's loggers log to console, but not server out log of starting server"
When starting a server runwar's debug logging shows in the console via the Log4J appenders, but is missing from the server's out log.  The server process itself has its standard output tee'd so it spills into the out log and the foreground process's console, but but it would be nice to find a way for the runwar loggers to make it to the console out as well.  That might require a log4j appender to

[2016-12-28 17:00] bdw429s opened #58 "timeout ignored for foreground starts"
We noticed while testing CommandBox that when background is set to false, the timeout flag is ignored.  Just wanted to check if this is a bug or a desired behavior.  I assume this is the case because a process builder is not used to start the server in a controlled way but the server is just started directly in the main process.  Please confirm.

[2017-01-05 03:19] bdw429s opened #60 "Tray icon not disappearing on Windows when server process killed"
On Windows 7, if I start a server like so:
[code]
which effectively starts it in the foreground, and then later I stop it with Ctrl-C, the system tray icon stays showing until I hover over it.  Then it will disappear.  Is there something we can do in the JVM to hide the icon on shutdown of the server process?

Note, stopping a server via the standard runwar `stopServer` is fine-- it's only when th

[2017-01-05 16:19] bdw429s commented on #55
As a note, I don't think the java agent loading is actually even working on Lucee 5.  See this ticket:
https://luceeserver.atlassian.net/browse/LDEV-1138
This error happens even though Runwar claims it has loaded a java agent.

[2017-01-05 22:18] bdw429s commented on #55
As an additional note, it seems that Runwar's attempt to load the java agent is actually the cause of the Lucee ticket above.  Basically the list of attach providers is read from tools.jar ONCE when the first time that `com.sun.tools.attach.spi.AttachProvider.providers()` is called.  This happens inside runwar, but without a tools.jar in your classpath, the list of providers will be loaded as empt

[2017-01-05 23:19] bdw429s commented on #55
@denuno Pull for this:
https://github.com/cfmlprojects/runwar/pull/61

[2017-01-06 02:48] bdw429s opened #62 "Update to latest stable undertow version"
Looks like Undertow is up to `1.4.8.Final`.  Let's update to stay current.  Please don't do this as part of the 3.5.0-snapshot though since I'm about to release CommandBox 3.5 and this is a potentially major change.

[2017-01-06 02:48] bdw429s commented on #62
http://repository.jboss.org/nexus/content/repositories/releases/io/undertow/undertow-servlet/

[2017-01-09 02:14] denuno commented on #46
Ugh, not the easiest thing to do because Adobe is weird.

Solved, I think, by checking the servlet name for CFRestServlet (adobe) and RestServlet (lucee),

Hopefully those are the only names that have been in use for those... I'd rather do it by class than servlet name, but Adobe uses a bootloader to set up all it's servlets, which makes that route an uglier one than this one.

[2017-01-09 04:11] bdw429s commented on #46
Thx @denuno.  Can you Pls keep this in a branch until I get CommandBox 3.5 released Tuesday.  Actually, if you could cut a final version of Ruwar 3.5, that would be great and this can be the first thing you commit to the 3.6 snapshot.  I just don't want any last minute development to get pulled into the CommandBox release.

[2017-01-09 05:57] #42 closed

[2017-01-09 05:57] #46 closed

[2017-01-09 05:57] #47 closed

[2017-01-09 16:31] denuno commented on #46
I cut 3.5, stopping after the java agent removal, since it seemed like you tested up to there basically.  The cool thing is I didn't fix that snapshot-deleting-upon-release bug, so 3.5-SNAPSHOT is gone, along with the changes that are now in 3.6.  If it broke any builds, "my bad", but it was good here-- though I do need to fix that bad-goodness.

[2017-01-09 22:37] bdw429s commented on #46
Thx @denuno.  No worries on the snapshot going away.  I just bumped the CommandBox build to use Runwar 3.5.0 Final and running the final build for CommandBox 3.5.0 now.  (Hey, our versions match!! :)

[2017-01-15 17:29] #48 closed

[2017-01-15 17:47] denuno commented on #60
I tried adding a shutdown hook for the tray at one point, but it just caused hangs and other odd behavior.  I don't see this problem on Linux, not sure about OS X, maybe there's some call that could be made on Windows to cause a tray refresh... hrm, looks like maybe sending a mouse event:

http://www.dotnetsurfers.com/blog/2011/02/16/refreshing-the-windows-system-tray-programmatically

[2017-01-15 17:53] denuno commented on #58
Unless I'm thinking of something else, this is desired behavior.  There should be no timeout for a foreground start, it should run until it hits a runtime error or gets a control-C.  AFAIK.

[2017-01-15 21:07] bdw429s commented on #58
Yeah, that confirms what I was thinking.  Just wanted to make sure I was thinking correctly.

[2017-01-23 06:23] bdw429s opened #63 "Aliases don't work right when file names match the alias name."
Consider the following CommandBox recipie:
[code]

When the browsers open:
1) `bar.txt` works correctly
2) `foo.txt` shows a 404
3) `foobar.txt` shows the contents of `bar.txt`!

[2017-01-23 06:55] bdw429s commented on #63
After reviewing the code, I believe this line is the issue:
https://github.com/cfmlprojects/runwar/blob/master/src/runwar/undertow/MappedResourceManager.java#L115

[code]

The `String.replace()` will replace all occurrences of the alias name, including any occurrences in the file name.  Perhaps changing to `String.replaceAll()` and using regex to only match the start of the string?

[2017-01-25 13:50] bdw429s opened #64 "Support Basic Auth for a server"
https://github.com/undertow-io/undertow/blob/master/examples/src/main/java/io/undertow/examples/security/basic/BasicAuthServer.java

If we can pass a list of usernames and passwords via a new server option to Runwar then I can wrap this up in CommandBox.

[2017-01-26 00:40] bdw429s opened #65 "Taskbar app has incredibly tiny text in Windows 10"
This ticket was passed along by Ray Camden in this CommandBox ticket:
https://ortussolutions.atlassian.net/browse/COMMANDBOX-561

[2017-01-26 02:17] bdw429s commented on #63
@denuno  See pull request here: https://github.com/cfmlprojects/runwar/pull/66

[2017-01-26 12:14] cfjedimaster commented on #65
Here is a screen shot. I intentionally took a big screen shot so you can see the UI in comparison to more of my screen.

![image](https://cloud.githubusercontent.com/assets/393660/22331007/b2d38436-e38e-11e6-8e9b-e1484a0e3c3a.png)

[2017-01-26 12:59] bdw429s commented on #65
Thanks @cfjedimaster I can certainly see how small that is now.   Can you let us know what your screen resolution and monitor size is?  The latter possibly doesn't matter, but I'm curious :)  And do you have any other screen scaling or zooming features enabled?
Also, I noticed the icon itself in the system tray ironically looks too big and cut off on the right and bottom sides.  Can you confirm th

[2017-01-26 14:33] cfjedimaster commented on #65
You're right - never really noticed. So I'm not on THAT machine above right now, I'm on my Dell now, but it has the same problem. 4k resolution. No zooming/scaling.

[2017-02-07 22:50] #63 closed

[2017-02-07 22:52] bdw429s commented on #19
This was a good discussion, but closing it for now since I think we've decided this is outside of the current scope of runwar, which aims to be a more container-based approach where there's a separate process for each server.

[2017-02-07 22:52] #19 closed

[2017-02-07 22:54] bdw429s opened #67 "System tray hook erroring for some users"
Ok, only one user actually-- but it did prevent the entire server from starting.  The user was on Windows 10 x64 Pro and this showed up in this logs, aborting the server start.

[code]

The internet is devoid of all information regarding this exception, so I'm sending a pull to wrap the tray hook in a try/catch and log the error if it happens, but still allow the server to finish starting.

[2017-02-07 22:58] bdw429s commented on #67
https://github.com/cfmlprojects/runwar/pull/68

[2017-02-07 22:59] bdw429s commented on #67
@denuno Here is the pull:
https://github.com/cfmlprojects/runwar/pull/68

[2017-02-08 10:22] yukido commented on #64
I strongly support this.

[2017-02-15 00:27] denuno opened #69 "Add SSL cert chain file support"
What the subject says, brah.

[2017-02-16 17:07] #67 closed

[2017-02-16 17:11] bdw429s opened #70 "Allow servers to bind to ports <1024 as root, then downgrade"
On Unix-based OS's like Linux and Mac, you must be root bind to ports like 80.  But many people don't want to run all of CommandBox as root because;

1. It uses a separate installation directory which creates two parallel installs of CommandBox
2. Leaving a server running as `root` in production is a bad idea (TM)

Servers like Tomcat require `root` (or at least `sudo`) to start the server, but th

[2017-02-16 20:51] bdw429s commented on #70
Corresponding CommandBox ticket:
https://ortussolutions.atlassian.net/browse/COMMANDBOX-573

[2017-02-20 02:37] lmajano opened #71 "Performance tuning options for undertow"
@denuno If you see the Undertow.Builder class there are several options for performance tuning.  Is there a way to tap into them via CommandBox passthrough?

http://undertow.io/javadoc/1.3.x/io/undertow/Undertow.Builder.html

The ones I am interested are:

- setBufferSize(int bufferSize)
- setBuffersPerRegion(int buffersPerRegion)
- setDirectBuffers(boolean directBuffers)
- setIoThreads(int ioThre

[2017-02-20 02:45] lmajano opened #72 "Listener Options"
@denuno What would be the best way to configure the listener options available in undertow: http://undertow.io/undertow-docs/undertow-docs-1.3.0/listeners.html

[2017-02-20 02:47] lmajano opened #73 "Enable Reverse Proxy Options"
@denuno What would it take to enable the reverse proxy options available in undertow: http://undertow.io/undertow-docs/undertow-docs-1.3.0/listeners.html

[2017-02-20 02:48] lmajano opened #74 "Websockets Support"
@denuno What would it take to enable the options for activating websocket support: http://undertow.io/undertow-docs/undertow-docs-1.3.0/index.html#websockets

[2017-02-20 05:53] bdw429s commented on #74
@lmajano This is a duplicate of ticket https://github.com/cfmlprojects/runwar/issues/53 whcih I have already created for Websocket support.

[2017-02-20 23:11] lmajano commented on #74
thanks

[2017-02-20 23:11] #74 closed

[2017-02-20 23:12] lmajano commented on #53
@denuno any updates on this?

[2017-03-05 20:45] denuno commented on #64
So what I went with here is an option called -users or --basicauthusers and it expects the format to be like this: `bob=secret,alice=fun,equals=blah\=inpass` (escape `=` with `\=`)

`--basicauthusers="bob=wee,al=hoo"`

There's also  `--basicauth-enable` which you can use to turn it off even if users are specified. (Specifying users automatically turns it on otherwise.)

[2017-03-05 20:51] denuno commented on #69
I reworked SSL quite a bit, and we can now support more certificate formats as well as adding, perhaps, chain files and whatnot via the new command line option:

`--ssl-add-certs </path/to/cert,/path/to/cert>`

Which will let you add an arbitrary number of certificate files to the store.  Need to verify this works for the chain files though-- I don't have any handy and haven't had a chance to gene

[2017-03-06 05:19] bdw429s commented on #64
Excellent.  Here is the CommandBox ticket for it to be incorporated
https://ortussolutions.atlassian.net/browse/COMMANDBOX-560

[2017-03-06 05:21] bdw429s commented on #69
@denuno Can you write up some comprehensive docs on the SSL support, how it works, and how to use it?  I've been getting a lot of questions about it lately and I don't really know anything about it.  There's also nothing about the SSL stuff in our official CommandBox docs.  If you can help document what we have, I'll incorporate it.

[2017-03-06 05:55] denuno commented on #71
I've added options for setting these (not buffers per region tho, it doesn't do anything anymore), and for posterity, here is how the these things get set if you don't change them:

[code]

So we have `--buffer-size int`  `--direct-buffers true|false` `--io-threads int` `--worker-threads int` command line options now.

[2017-03-10 06:15] denuno commented on #53
The Lucee websocket extension + demo app linked above work now.

[2017-03-10 06:19] bdw429s commented on #53
Excellent

[2017-03-10 06:31] denuno commented on #73
So what I was thinking was something along these lines:

You pass in just `--loadbalance "host:1,host:2:,host:3"` (host and port list of nodes) and it only load balances those-- they're already running somewhere.

If you also pass in the WAR path, then it fires up instances for each node, and balances those.  This is what it's doing now, and it gets the stop port from incrementing the node port.

[2017-03-10 07:05] denuno commented on #60
Doesn't look fixable:

https://superuser.com/questions/178413/removing-killed-processes-from-windows-taskbar-notification-area

[2017-03-10 07:05] #60 closed

[2017-03-10 07:12] bdw429s commented on #60
@denuno I'm not sure-- that link is asking if the OS itself can detect and remove the icons.  In our case, I assumed we'd be able to use a finalizer or shutdown hook to do it from the Java process itself.  I wonder if those fire when the process builder process is destroyed.

[2017-03-10 07:21] denuno commented on #60
If the Java process could do it, it would do it, AFAIK.  It removes it on Linux, and I think Mac too, so it seems like we're being bit by this bug.  The weird thing is you'd think a `ctrl+c` would send a soft, versus a hard, shutdown request, which would allow it to remove the icon gracefully, but I see a few other java-related, same-bug type-deals (mentioning ctrl+c)...

[2017-03-10 07:23] bdw429s commented on #60
I think I have the ability to intercept the Ctrl-C in this instance and do something other than just killing the process.  I might be able to just run the proper stop code.  I'll give it a test.

[2017-03-10 07:49] #62 closed

[2017-03-10 07:49] #64 closed

[2017-03-10 07:49] #69 closed

[2017-03-10 07:49] #71 closed

[2017-03-10 07:49] #52 closed

[2017-03-10 07:49] #53 closed

[2017-03-17 00:13] lmajano commented on #73
Few comments here:

That's perfect.  Is there a way to add/remove nodes from the balancing?

Yes, they should be separate processes.

Yes, exactly. That is the idea.  A good concept to follow is a mesh router.  Where you can have many load balancer that can balance the mesh of nodes.  Any hit to the balancer goes into the mesh.

An important fact here is the ability to scale up/down the nodes in a

[2017-03-21 22:10] bdw429s commented on #46
@denuno Hey, just trying to follow up on some of these older tickets.  Can you confirm that this should work on the WAR-based servers by overriding the rest servlet mappings in the default `web.xml` that ships with the war?  If so, I'll give it some testing and then finalize the CommandBox portions of actually passing the rest mappings from the user.

[2017-03-22 03:23] bdw429s opened #75 "Concurrency issues under load"
I don't know what version of Runwar introduced this, but when I run load tests against a simple page that just outputs a bit of text on either Lucee or Adobe CF, I get hundreds of exceptions that pour into the server log.  It seems that there is a concurrency issue of some sort.

[code]
[code]
[code]

FWIW, I'll get 700 to 900 requests a second being processed.  If I slow the requests down, the er

[2017-03-22 03:49] bdw429s commented on #75
I went back and tried this test on every version of CommandBox working backwards and the errors in the logs under load stopped in CommandBox version `3.2`, which shipped with Runwar version `3.4.5`.  So this appears to have either been introduced in Runwar `3.4.10` or it just wasn't logged in previous versions.

[2017-03-22 22:13] denuno commented on #75
Pretty sure the cause of this is the directory-index "refresh"-- hitting a URL path of `/` versus `/index.cfm`, which we added when folks noticed welcome-files were only checked for once, and that new ones added after the server started were not picked up.

In the future it would be great to attach the JMeter test, or at least the URL it's hitting, for scenario reproduction.  :smile:

A quick way

[2017-03-22 22:25] bdw429s commented on #75
I can attach a Jmeter test, but it's really nothing you can't recreate in about 5 seconds.  Just add a thread group with 200 users and an HTTP sampler that hits `/` on  your site.  It seems JMeter files aren't very compatible between major versions so I've had more misses than hits lately trying to share them.  Plus your port and host will probably be different than mine, making 75% of the jmeter

[2017-03-23 05:36] denuno commented on #75
Yeah, the main thing was figuring out what path to pound-- we've got fancy stuff for `/` that we don't pass through if the request is for `/index.cfm`, and when I saw "that page" I was like, "hmm, I could see something funky for `/`, but `/index.cfm` _should_ work.".

Plus, I'm _insanely_ lazy-- 5 seconds?  Ain't nobody got time for that!  :smiley:

I haven't had much trouble with JMeter across ma

[2017-03-23 05:48] denuno opened #76 "Add JMeter CI tests"
Add the JMeter tests, as well as the various test WARs I guess, to the repo.

Maybe create a separate repo for the WARs though, as it would be neat to have them all for testing, but not so neat to have a bunch of binaries.

Yeah, I like that.  Note: create ticket to create war test'n repo.  (WARs! / HUH! / What are they good for / Chattahoochee test'n / listen to me.)

[2017-04-11 20:49] bdw429s commented on #73
Hey @denny looking to play with this today.  Any more thoughts on querying, adding, and removing nodes from the cluster once it's running? I think we may need a management port on the LB to connect to.

[2017-04-11 21:16] bdw429s commented on #73
@Denny, I tried the method of load balancing existing servers like so
[code]
and Runwar threw this error:
[code]

[2017-04-11 21:19] bdw429s commented on #73
@denny, I added the `-war` option back in and received this error:

[code]

Please let me know how to use this.

[2017-04-12 00:23] denuno commented on #73
It required a war before, I just pushed a build that fixes that, and gives a better error message if the balance host isn't correct.  Try it like this:
`--loadbalance "http://127.0.0.1:54965,http://127.0.0.1:55313,http://www.google.com:80"`
Or just:
`--loadbalance "http://www.yahoo.com:80,http://www.google.com:80"`
and then hit the load balancer with curl, and you should see the content flip betwe

[2017-04-12 04:47] bdw429s commented on #73
Thanks @denuno, I got the balancer to work and it appeared to round robin in a browser if I started the servers myself and then started the balancer.  I wasn't able to get it to work when I tried to have it start the servers and the balancer.  One server icon came up in the system tray and the logs showed two servers starting, but I couldn't get any ports at all to load the browser.  I'm not sure

[2017-04-12 18:28] denny commented on #73
Why am I tagged in this thread?  **mutes**

[2017-04-21 04:08] bdw429s commented on #64
@denuno How should commas be escaped (likely in passwords that uses punctuation)?  What do you think about using a scheme like URL encoding since there's already libs/built-ins out there for encoding/decoding for it?  This would also take care of things like a double quote in a password.
[code]

[2017-04-21 04:18] bdw429s commented on #64
Looking at your code it seems you already accounted for commas to be passed as `\,` so that's cool.  We can roll with this for now.

[2017-04-21 04:38] bdw429s commented on #64
@denuno Works pretty good.  Before we set this in stone, what do you think about the ability to apply basic auth to a specific sub folder or path?

1) Does Undertow support that?
2) How would the config deal with it?
3) Is it worth it?

[2017-04-21 21:28] denuno commented on #64
For 1, we can use a `PathHandler` which would limit it to a path or paths, so that infrastructure exists.
For 2 & 3... well, if we could come up with something good for 2, it makes 3 more justified.

I rather like the idea of being able to plug in some auth easily.  Configuration is an issue though, especially with limits on how long command lines can be and whatnot, and with various auth schema n

[2017-04-21 21:42] bdw429s commented on #64
From the CommandBox side of things, the setup looks like this:
[code]

A suggestion for #2 could look like this which would leave the default whole-site protection simple.

[code]
Or here's a simpler version that assumes there's nothing other than users to configure for a path:

[code]

Of course, this is all on the CommandBox side of things.  I've still got to wrap it all up and send it over to R

[2017-04-24 02:44] bdw429s opened #79 "Support missing Tuckey config settings"
Tuckey allows for a couple config settings we need to allow to be passed into Runwar so they can be used here:
https://github.com/cfmlprojects/runwar/blob/802ef463a6a9e775b5752b2a43ec70d82c86faa3/src/runwar/Server.java#L817-L821

**Watch config file for changes**
[code]
**Enable logging**  (Tie to runwar debug level)
[code]

**Change status URL**
[code]

http://www.tuckey.org/urlrewrite/manual/2.6

[2017-05-19 15:44] bdw429s commented on #64
@denuno Someone pointed out to me today that the basic auth doesn't quite seem to be 100% yet.  Once you log in, they expected the `cgi.remote_user` variable to have the username, but it's blank in instead.  I assume some extra plumbing just needs put in to set that?

[2017-05-19 16:00] bdw429s commented on #64
Looking at Undertow, I assume we need to be using this class?
https://github.com/undertow-io/undertow/blob/master/core/src/main/java/io/undertow/attribute/RemoteUserAttribute.java

[2017-05-25 03:04] bdw429s opened #80 "Implement the equiv of Tomcat's remoteIPValve"
A CommandBox user has noticed that their site which is behind a proxy doesn't show the actual end-user's IP address for the cgi remote address variable.  Provide a setting to enable whatever Undertow's equivalent is to pass the original IP through.

[2017-06-03 04:23] bdw429s commented on #80
@denuno Any ideas on what this will take.  I can try to do a pull if you can let me know what to put in.

[2017-06-03 04:26] bdw429s opened #81 "Allow config option to turn off tray icon entirely"
I've had a few CommandBox users who would like to dispense entirely with the tray icons.  Let's just add a simple setting to completely disable the icons.

[2017-06-03 04:27] bdw429s commented on #81
Related CommandBox ticket: https://ortussolutions.atlassian.net/browse/COMMANDBOX-642

[2017-06-03 06:33] denuno commented on #80
Already got it working, tests y todo... that's the b best part, the tests.
 :-)

On Jun 2, 2017 10:23 PM, "Brad Wood" <notifications@github.com> wrote:

[2017-06-03 06:37] bdw429s commented on #80
lol, awesome!

[2017-06-13 19:03] bdw429s opened #82 "Tray icon reported as not showing for Debian"
@denuno Can you check into this?

https://ortussolutions.atlassian.net/browse/COMMANDBOX-643

[2017-06-15 01:47] denuno commented on #82
The latest build uses the latest SystemTray, which has fixed a bunch of issues, including hopefully this one, can you give it a whirl and see how things look on your OS too?

[2017-06-16 02:38] denuno commented on #72
The only listener we didn't have was HTTP2, which I wanted to get in there, so the first implementation is in, along with a [LearningPushHandler](https://github.com/undertow-io/undertow/blob/master/core/src/main/java/io/undertow/server/handlers/LearningPushHandler.java), which theoretically builds up a cache of things the server sends out over http and then can send it out over http2 if the browse

[2017-06-17 05:20] bdw429s commented on #80
https://ortussolutions.atlassian.net/browse/COMMANDBOX-648

[2017-06-17 05:21] bdw429s commented on #79
https://ortussolutions.atlassian.net/browse/COMMANDBOX-649

[2017-06-17 05:24] bdw429s commented on #40
We should retest this issue with the latest SystemTray stuff.

[2017-06-17 05:26] bdw429s opened #83 "Basic auth doesn't set cgi.remote_user"
Basic auth doesn't set cgi.remote_user

https://ortussolutions.atlassian.net/browse/COMMANDBOX-625

[2017-06-17 15:42] bdw429s opened #85 "Streaming the output from background servers is slow while starting"
So I've noticed for a while now that when I start a background server, the initial output from Runwar streams out quickly, but once it gets to the point where it spawns the background server in a separate thread, the console output seems to slow to a crawl, which is even more pronounced now that there is additional debugging information.  Is there a way to speed this up?  I can do a quick screen s

[2017-06-17 15:53] bdw429s opened #86 "Closing CommandBox CLI kills running background servers"
This has been happening for several releases now.  When I start a background server in CommandBox and then close the original shell, the server dies.  There must be some tie between the processes that's killing the server.  Perhaps the operating system thinks the server is a child process?  I'm on Windows 7.

[2017-06-20 03:07] bdw429s commented on #85
This should be fixed now with this pull:
https://github.com/cfmlprojects/runwar/pull/87

[2017-06-20 03:07] #85 closed

[2017-06-20 03:10] bdw429s opened #88 "Adobe servers no longer start on 3.6.1-SNAPSHOT"
I get this error when starting up Adobe CF 11 or 2016.   This is a major blocker right now in the CommandBox snapshot builds!

I think it's related to a version of Log4J that might have been bumped.  The line doing the logging is actually part of Undertow and has been that way for a couple years!

[code]

[2017-06-20 03:12] bdw429s opened #89 "Make ${runwar.PID} available for replacement in tray menus"
Make `${runwar.PID}` available for replacement in tray menus.  I'd like to be able to add a menu item that contains the server PID.

[2017-06-20 03:14] bdw429s opened #90 "Make sure menus replace ${x} "variables" everywhere"
Many of the places in menus don't have the `${x}` variable replacements.  I noticed this while trying to put a variable in the `label` for a menu item.  Ensure `replaceMenuTokens()` is used everywhere.

[2017-06-20 03:16] bdw429s opened #91 "Tray "restart" doesn't seem to work"
When I trigger a `restart` action from the tray, I get this output in the server log.  Notice the `JVM_Bind` error at the bottom.

[code]

[2017-06-20 03:16] bdw429s opened #92 "Browse file system menu item doesn't work on Windows 7"
I get this error.  The path in the message is the correct web root folder and it does exist.

[code]

Also, what's the `null` part of the message?

[2017-06-20 03:17] bdw429s opened #93 "Validation on tray menu tooltips"
I can't get the default tray options to work no a CommandBox server.  Here is the output to the server log:
[code]
Looks like some additional validation is needed.

[2017-06-30 21:40] #88 closed

[2017-06-30 21:40] bdw429s commented on #88
This was fixed by rolling back some logging library changes.

[2017-06-30 22:37] bdw429s commented on #83
@denuno Did you check into this one at all?  It seems like it should be a quick and easy thing to fix, but I've googled it at length and for the life of me I can't find any information.  I found the example you used and it doesn't mention anything about configuring the remote user to be available.  There's a remote user exchange attribute class in undertow but I can't find any docs at all on what

[2017-07-02 19:24] denuno commented on #83
It was a little weird, we still needed to do what we were doing before (adding the handler) but now the cgi vars are set correctly, so ¯\_(ツ)_/¯, we can check into this more when we look at what those security constrains can do for us.

[2017-07-02 19:38] denuno commented on #73
Closing this since the initial implementation got in there, we can do new ones for improvement.

[2017-07-02 19:38] #73 closed

[2017-07-02 19:42] denuno commented on #65
The newest SystemTray should have solved this, going to close for now but reopen if not.

[2017-07-02 19:42] #65 closed

[2017-08-10 12:51] timsayshey commented on #55
I am still getting the JavaAgent error in Docker on Windows 7.

To reproduce, run the following on Windows 7:
[code]

![192 168 99 100-8080- 2](https://user-images.githubusercontent.com/1148940/29170968-685406f4-7da0-11e7-8554-956c97009979.png)

[2017-08-10 22:47] bdw429s commented on #55
@timsayshey Can you show the exact version of Lucee that's being started, and confirm the version of CommandBox in use (or at least the version of the Docker image)?  I haven't seen that error in quite some time.  Unfortunately, the error you pasted above is not helpful at all, but it's not your fault.  When Lucee can't load the java agent, it glosses over the error and allows the page load to go

[2017-08-11 00:31] timsayshey commented on #55
@bdw429s Thanks Brad -- Here are the specific versions: Lucee 5.2.1+9 and ortussolutions/commandbox:latest

I'll see about getting the log files. I ssh'd in but I can't find the /root/serverHome directory.

[2017-08-11 03:43] bdw429s commented on #55
Thanks for checking into the logs.  Also, you mentioned this was Windows 7.  Can you confirm, Windows 7 is the _host_ machine, right?  I've got Windows 7 so I'll give your image a try real quick as well.

[2017-08-11 04:43] bdw429s commented on #55
I started up your container and I get the exact same error, even on Lucee 5.1.  I'm not really sure what's going on.  To be honest, I've mostly been using Lucee 4 with my docker tests, so I'm not 100% sure right off if this is a Lucee 5 issues, a regression in Runwar, or just something the matter with your image. We were getting this error a while back and it took many hours of troubleshooting but

[2017-08-11 13:16] timsayshey commented on #55
Glad you were able to reproduce it.

Should we reopen this ticket or make a new one?

I didn't think it was my image since I'm just using compose and pointing to the latest commandbox docker image:
https://github.com/timsayshey/wheelie/blob/release/config/docker/local-mysql/docker-compose.yml
https://github.com/timsayshey/wheelie/blob/release/server.json

Thanks again for looking into this.

[2017-08-11 17:01] bdw429s commented on #55
I would create a new ticket since even though the symptom is the same, I've no clue what's causing it this time around.  The solution for this ticket was simply to rip out all the logic in Runwar that even messed with auto-loading the java agent since it was duplicating what Lucee already does, so I'm not sure if the issue could still even be in Lucee.  It's entirely possible that it's somehow rel

[2017-08-11 17:04] bdw429s commented on #55
@denuno Read the accepted answer on this SO post. Do you think it applies here?  I know we have several layers of classloading going on, but I have no idea how to track down what's getting loaded and where.

https://stackoverflow.com/questions/36936948/java-lang-unsatisfiedlinkerror-native-library-xxx-so-already-loaded-in-another

[2017-09-13 21:44] timsayshey commented on #55
☝️

[2017-09-15 03:38] denuno commented on #55
That is odd.  Does this only happen on Windows 7?  Latest JRE?

[2017-09-15 04:02] timsayshey commented on #55
Yes, my discussion with Brad seemed to indicate that it works for Windows 10 with the newer Docker app. In my case, I only have Windows 7 machines to test with so I can't confirm whether it affects any other OSes. And yes, I was using the latest JRE.

To test, run Windows 7 with Docker and run the following command:
[code]

This should reproduce the error for you.

[2017-09-15 04:46] denuno commented on #55
Hmm, frankly it's going to be hard to get around to fixing this one, I think that might have been part of why I had that code we ripped out in there to begin with, but it conflicted with the newer stuff as demonstrated by this ticket...  You could maybe try using an older version of runwar, pre-agent-loading-removal, and see if that works.  Lucee 5 itself runs fine outside of cmdbox/runwar for you

[2017-09-15 04:56] bdw429s commented on #55
I wouldn't be sure that the issue is Runwar specific.  There's someone else claiming to be seeing this on a regular Tomcat install of Lucee 5 in the comments of this ticket:
https://luceeserver.atlassian.net/browse/LDEV-1138
The core of the problem that both this Tim B and Tim Clarke are having is

but I don't know how to troubleshoot that.

[2017-09-15 05:04] denuno commented on #55
Yeah, the link you posted had a system property that might be something to play with, but it'd have to be randomized somewhere, and I'm not sure where.  Might be worth trying an alternate JRE (OpenJDK if on Oracle, and vice versa)... totally apropos to nothing, the JDK is apparently going to be switching to a new "every X months" release schedule, and making OpenJDK and Oracle exactly the same (ve

[2017-09-27 01:19] #72 closed

[2017-09-27 01:19] #75 closed

[2017-09-27 01:19] #79 closed

[2017-09-27 01:19] #80 closed

[2017-09-27 01:19] #81 closed

[2017-09-27 01:19] #83 closed

[2017-09-27 01:19] #89 closed

[2017-09-27 01:19] #90 closed

[2017-09-27 01:24] denuno commented on #93
Should be fixed, using ellipsis if longer than 64.

[2017-09-27 01:24] #93 closed

[2017-09-27 01:27] denuno commented on #56
I think we toned things down, we can do another issue for more if needed.

[2017-09-27 01:27] #56 closed

[2017-10-05 19:58] elpete opened #96 "Incorrectly caching static assets when requesting files with incorrect casing"
Not sure if this issue belongs here, but we recently ran in to a strange caching-like bug using CommandBox in the `ortussolutions/commandbox` image.

Given a file system running in Docker (so case-sensitive) like so:

[code]

If I made a request to `http://host:port/modules_app/my-module/includes/js/app.js` (note the difference casing) the request would succeed and load the file.  But if I made an

[2017-11-29 21:18] bdw429s commented on #86
@denuno This is the issue I mentioned in the CommandBox mailing list the other day.

[2017-11-29 21:20] bdw429s opened #98 "Common Access Card (CAC) Certificate support"
Hey, can you provide an estimate of what it would take to add CAC certs to CommandBox?  Undertow seems to support it, but we'd need to wire in the required configuration and call all the Undertow bits to enable it.  Here's a guide for doing it, but the guide is for WildFly:

https://github.com/wildfly/quickstart/tree/10.x/helloworld-war-ssl

I assume we'd need to dig up all the Undertow methods th

[2017-11-29 21:55] bdw429s commented on #98
Here's an example that was given to me of someone using Undertow to implement this:

https://github.com/TremoloSecurity/OpenUnison/blob/1.0.12/unison/openunison-on-undertow/src/main/java/com/tremolosecurity/openunison/undertow/OpenUnisonOnUndertow.java

[2017-11-30 15:00] bdw429s opened #99 "Add access and error logs to undertow"
Most web servers all have the ability to enable 'access' and 'error' logs that log every request coming in and some basic things about those requests. Add in the same ability to Runwar.

https://ortussolutions.atlassian.net/browse/COMMANDBOX-720

[2017-11-30 21:20] cfvonner commented on #86
I hadn't noticed that in the past (I'd specifically seen servers remain running), so that is definitely something that changed in a recent release.

[2017-11-30 23:43] elpete commented on #86
I agree with @bdw429s in this case — don't shut down my servers until I say so.

But reading @cfvonner's comment made me think of this xkcd: https://xkcd.com/1172/

[2017-11-30 23:53] bdw429s commented on #86
To be clear, there's no "shutdown" being sent per se.  There's something about the processes that seems to have them tied together so far as the operating system is concerned.  The other thing I see is if I type "exit" in the CLI in Windows, it usually sits there until I stop any running servers.  There's something that's got the processes tied together.  I've looked into it and I'm not sure where

[2017-12-05 02:34] elpete opened #100 "Allow access to set JSESSIONID to HTTPOnly or to prevent it being set at all"
Currently, the `JSESSIONID` is automatically sent to the browser, but it is sent as `HTTPOnly = false`.  Please provide an argument to enable `HTTPOnly = true` for the `JSESSONID` as well as disabling the cookie being set entirely.

Linked CommandBox issue: https://ortussolutions.atlassian.net/browse/COMMANDBOX-724

[2017-12-05 04:39] denuno commented on #100
Hmm, I'll have to look into what options there are.  Theoretically we could add a web.xml
[code]
type of thing on the fly, so that'd do the secure cookies (might also want to toss in no url-based sessions :smiley:  ) but suppressing jsessionid might be tricky.

[2017-12-05 04:40] elpete commented on #100
Setting it `HTTPOnly` and `secure` addresses any security concerns. Suppressing it would be bonus.

[2017-12-05 04:56] denuno commented on #86
Did disabling the tray have any effect for you?  FWIW, the servers I start on Windows continue to run after I close the console window.  Maybe it depends on if you start CommandBox from within a cmd shell versus like from a batch file-- somehow tying all the subprocesses.

Have you tried clicking on the box.exe, starting the server from the console that's opened, and then closing the console?

[2017-12-05 05:16] bdw429s commented on #86
@denuno Dunno, I didn't try it yet.  I keep CommandBox pinned to my taskbar so it's the equiv of just double clicking the exe.

[2017-12-05 05:25] denuno commented on #96
Interesting!  (Interesting how much I've been saying "interesting!" today too-- but that's besides the point)

I'm surprised it served the file at all.  Sounds similar to how it only checks for file existence once by default.  Is this docker on Linux, from Linux (that is, this isn't running in a VM on Windows)?  If it's OS X I remember seeing something similar where the OS X partition was formated

[2017-12-05 05:45] bdw429s commented on #96
@elpete Quick question, are you using URL rewrites?

[2017-12-05 05:47] bdw429s commented on #96
I tried to replicate this real quick on Windows, but I can't.  Any changes to the file show up when refreshing.  It must not happen on a case insensitive FS.

[2017-12-05 15:28] elpete commented on #96
This was running on Docker for Mac.  The container is definitely case-sensitive while my Mac is not.

[2017-12-05 15:28] elpete commented on #96
@bdw429s Yes, we were using URL rewrites

[2017-12-05 17:05] lmajano commented on #100
If we can avoid a custom `web.xml` that is my preference. If we can do this via settings like we do with all settings, that is a preference.

[2017-12-05 17:10] bdw429s commented on #100
@lmajano I think we can do both.  The `web.xml` stuff @denuno referenced is actually a standard spec and would be useful to support for people wanting to run a war directly on runwar/CommandBox that used that setting.  What we can do is inject our own setting to override what's in the web.xml which is what we're already doing for things like welcome files.  Since we parse the web.xml we have full

[2017-12-06 04:00] denuno commented on #100
Indeed!  Handled the same as welcomefiles.  I'm thinking `secure-cookies` that sets both the httpOnly and secure flags initially, eventually maybe splitting them out.  Though if we do split them out, I like prefixing the options similarly so they group/order, so it'd be `securecookies-httponly... I'd like `cookies-httponly` better than that but `cookies-secure` is a bit meh.  We might do other coo

[2017-12-06 06:19] denuno commented on #96
Sounds like it's the thing I was talking about.  See these for reference:

https://github.com/docker/for-mac/issues/320

https://github.com/docker/for-mac/issues/2096

[2017-12-06 06:21] denuno commented on #96
I'm going to go ahead and close this, feel free to open it again if it turns out to be something else.

[2017-12-06 06:21] #96 closed

[2018-02-02 07:11] bdw429s opened #101 "Windows locks on folders in web root after starting server"
In a recent update of Runwar, there are now file/folder locks on stuff in the webroot that prevents people from interacting with their files after starting a server.  A common example is trying to `npm install` something.  There will be folder locks on the `node_modules` folder and the stuff inside of it even though the CF server isn't touching those folders.  I've traced the file handles to the j

[2018-02-17 09:28] davemerrill commented on #101
Seeing the same thing, with at least some directories and files. I have apps that need to delete both types of items, and an Ant build for one app, both fail quite frequently. For the ant build, I can stop the server, but that's obviously not a solution for the app.

It's definitely not ALL files or dirs, as one app constantly creates and deletes its own files successfully. Not sure what the patte

[2018-02-17 18:49] denuno commented on #101
What's the best way to reproduce this?  And which versions of Windows are we talking about?  (I assume it's only Windows since it's got weird locking issues.)

[2018-02-17 19:53] bdw429s commented on #101
@denuno I've gotten reports for several versions of Windows, but I can reproduce it very easily with the node_modules example on Windows 7 on both Lucee and Adobe CF.  I haven't verified this, but someone on Slack claimed they tested several versions of CommandBox and it started with CommandBox 3.7.
That version of CommandBox switched from Runway `3.6.0-SNAPSHOT` to `3.6.1-SNAPSHOT` but I'd take t

[2018-02-17 20:11] bdw429s opened #102 "Improve "The response channel was closed prematurely." message"
I see this message quite a bit, and I'm getting it right now on a server where I'm trying to do some load testing.  Can we add some additional information to the logs that helps me know at least what request is causing the error?  As it stands, I currently have no clue how to even begin troubleshooting the log message.

[2018-02-17 20:17] bdw429s commented on #102
I'll also add, JMeter doesn't report any erroring requests which makes me wonder if this is really even an error or not.

[2018-02-18 00:01] davemerrill commented on #101
I've seen it a lot with both Windows 7 and 10. My actual circumstances
aren't easily encapsulated for testing, but briefly:

- I have an app that's delivered as a single-file cfm installer. The
installer contains an encoded zip of the actual app, plus UI and code to
decode it, write it as a zip file on disk, then extract it and delete the
zip. The extraction may be overwriting a previous install,

[2018-02-22 05:05] bdw429s commented on #101
@denuno Where you able to reproduce this one?

[2018-02-22 17:47] davemerrill commented on #101
Hit this again today, source control couldn't update all files in the app
until I stopped the server.

Would be handy to get to the bottom of it.

On Thu, Feb 22, 2018 at 12:05 AM, Brad Wood <notifications@github.com>
wrote:

[2018-02-24 03:11] denuno commented on #101
Any chance one of you could provide a recipe?  I cannot reproduce the lock, but there are so many ways to skin cats I'm not sure I'm doing the same one.  I tried with a npm project, but I use Gradle for npm stuff, so maybe that has some effect, as I didn't have any trouble rebuilding directories and files and whatnot while the server was running... Like, does this occur within the CommandBox CLI a

[2018-02-24 03:20] denuno commented on #102
I've always thought that was the client "hanging up rudely" so to speak, and not a real error per se, but maybe something is leaking and that's causing this error and the lock on windows?  I'd expect to see it a lot more often if that were the case, really, but who knows.  FWIW JMeter tests are the kinds of things I'd probably expect to drop connections, depending on what you're doing with them.

[2018-02-24 20:54] bdw429s commented on #102
What additional information can we add to the log so we can debug this?  The JMeter test I was running didn't report any errors and was running fine so I wouldn't expect it to be hanging up at all.  I do see this for sure when I _stop_ a JMeter test forcefully but I would expect it then.  If we can get some better logging in place, I can see if it is only happening with a specific request to help

[2018-02-24 21:30] denuno commented on #102
What's the stacktrace for this again?  That'd have our options for logging it "within the flow" so to speak.  The next release will have some type of extra logging (either access or request, can't recall offhand), which might help in the troubleshooting as well-- I just gotta get those commits pushed, which I'll try to do today (and get that jvm arg PR in too).

[2018-02-24 21:36] bdw429s commented on #102
There is no stack trace. That message in the issue title is literally all I get.  You can see why I'm looking for more info! :)

[2018-03-02 22:25] djcard commented on #101
Just to echo, I've seen this with Windows 10 and CommandBox 3.9.2+00826. I have a number of students who have run into it as well. I don't have an exact steps to reproduce since it usually starts off with thinking its another issue and then circling around to it being the locking problem.

[2018-03-08 01:36] denuno commented on #99
The next release adds these options:
[code]
So we have `access` and `request` logging now, dunno about `error` beyond what's there for the server itself, or the engine's.

[2018-03-08 01:40] denuno commented on #101
Perhaps the next release will have some impact on this.  It's in develop right now, but it contains the latest version of Undertow, plus some other library updates that may or may not have some effect.  I haven't tried much more testing myself, if there's even a simple recipe that works 1 of 5 tries that'd help. :smiley:

[2018-03-08 01:44] bdw429s commented on #101
Gavin was going to post some details to reproduce on this as well.  He was telling me today it's super easy and he hits it all the time.

[2018-03-08 01:49] denuno commented on #102
I'm not sure that it'll help much, but FWIW the latest snapshot adds some more logging options, perhaps you can compare the timing of the error with requests... dunno where that message is coming from, I'd expect something like https://github.com/undertow-io/undertow/blob/master/core/src/main/java/io/undertow/server/TruncatedResponseException.java

[2018-03-08 04:11] bdw429s commented on #99
Cool, one feature I've wanted to have is the ability to tail the incoming requests. Right now there's just way way to much crap in the debug output to even follow. We still need to seriously reduce that.

[2018-03-08 05:55] bdw429s commented on #99
Maybe an `info` logging level is what we need.  I was trying to debug a server just this week and wanted to keep track of the CF requests as they came in so I had started the server like so:
[code]
But every browser refresh had a page of Tuckey debugging plus a page of Undertow JSON gibberish (that to this day I've never understood, used, or wanted).  And worse, it was that times two because of th

[2018-03-09 21:23] gpickin opened #104 "Standard HTACCESS rules error"
I have been trying to get some rewrites working with HTACCESS file through commandbox.

I read here: http://httpd.apache.org/docs/2.2/mod/mod_rewrite.html
And https://cdn.rawgit.com/paultuckey/urlrewritefilter/master/src/doc/manual/4.0/index.html

I am not sure how I can get this working.

Rewrites seem to have no issues, its the REWRITECOND line that errors.

2018-03-09 12:19:50 INFO io.undertow.

[2018-03-09 21:44] bdw429s commented on #104
@denuno Based on the error messages:
[code]
Do you think that `%{REQUEST_FILENAME}` isn't resolving at all inside Runwar?  Does Runwar need to do something to set a header so `REQUEST_FILENAME` is accessible by Tuckey?

[2018-03-09 21:50] gpickin commented on #104
Using request-uri it doesn't show null, but it will said
`condition 0 had error: you must set a name for a header`

[2018-03-09 23:35] gpickin commented on #101
Here is a simple repro.
I figured out that you cannot delete folders which have folders with children.

Its uploading to youtube right no.

[2018-03-09 23:41] bdw429s commented on #101
Thanks Gavin.  Hopefully this will help @denuno nail this down once and for all.

[2018-03-10 01:56] denuno commented on #101
It's already helpful-- that's weird!  I was assuming it had to do with files that were served at least once. That it's locking with just creating/deleting folders with children is mega-odd.

My experiments revolved around firing up runwar, pulling down some node deps, browsing some files, and then deleting the directories-- and they worked every time, (other than windows being unable to delete a f

[2018-03-10 02:00] djcard commented on #101
I’ll back up that that is part of it. I have no idea the steps involved that cause it but I have noticed that I’ve had to shut down servers to delete folders at times. I think files and empty folders delete but not ones with anything in them.

From: Denny Valliant <notifications@github.com>
Sent: Friday, March 9, 2018 8:56 PM
To: cfmlprojects/runwar <runwar@noreply.github.com>
Cc: Dan Card <djcard

[2018-03-11 06:32] denuno commented on #101
Found what was going on.

You can add resource change listener support (like for WEB-INF/web.xml or whatnot I imagine), and then add listeners-- I'd enabled support but not added any listeners, thinking it wouldn't do anything without a listener, and thinking wrong, heh!  We can still enable it at some point, I sorta-kinda added an option for it, just set to `false` for now.

If this seems to fix

[2018-03-11 20:52] denuno commented on #104
RewriteRule ^(.*)$ index.cfm ~~%{REQUEST_URI}~~/$1 [QSA,L]

I think you want something like:

[code]
As for debugging, this is a Tuckey UrlRewriteFilter thing, basically, so you'd need to troubleshoot that code, but I think if you enable debug you'd get most the information you need.

After a little digging on my own, you should be able to use `%{request-uri}` in the "to", but there's an incorrect

[2018-03-11 23:12] denuno commented on #104
I went ahead and tweaked the fork of `UrlRewriteFilter` (I don't see a PR into tuckey for the last bit of changes, which might explain why they never got merged), so that you can use the same names in "to" and "from" instead of having to remember to change the case, replace the underscore, etc. -- so the original example should work now (I'm gonna assume it is valid in Apache since a quick online

[2018-03-11 23:12] #104 closed

[2018-03-11 23:26] denuno commented on #99
One person's trash is another person's treasure :smiley:

The access log should be a single line per request, and we can even do various formats and whatnot, though it's hard-coded for the "common" format as of now.

FWIW, with linux it's common to want just lines with X, so it's also common to pipe stuff through things like `grep` or whatnot... 'cause *nix is kewl!  Bet you could do something lik

[2018-03-11 23:26] #99 closed

[2018-03-11 23:27] denuno commented on #86
We can close this out now, right?  It was just a windows 7 issue?

[2018-03-11 23:49] bdw429s commented on #86
As far as I know, nothing was ever done to fix this.  I don't know what versions of Windows were affected.  I just tried to reproduce it and oddly I can't, but I'm on a bleeding edge build of CommandBox 4.0 and Lucee 5 via JSR-223 so there's no telling.  Perhaps someone else who is subscribed to this thread can give it a try and let me know if it's still happening for them.

[2018-03-12 00:06] denuno commented on #86
As far as I recall, we'd determined it only happened on Windows 7, so there was nothing to do-- unless someone wants to sponsor a fix for it I'm fine with the odd win7 issue.

[2018-03-12 00:23] bdw429s commented on #86
I'm

[2018-03-12 00:23] #86 closed

[2018-03-12 00:24] bdw429s commented on #86
Oops, didn't mean to click close, but I guess that was where we were headed, lol.  I guess we can re-open if this is still an issue.  I'm not sure at what point it stopped happening on my machine :thinking:

[2018-03-12 01:14] denuno commented on #86
So it's even working on Windows 7 now?  Even better!  :smiley:

[2018-03-13 15:50] gpickin commented on #104
The conditions are what dont work, with most of the INPUTs that i tried.
Hopefully your tweaks work.

This will be a huge help.
Way better than resorting to XML :)

[2018-03-14 03:15] denuno commented on #104
Hmmm, when I looked at the debug output, the conditions were parsed fine, it was confused about finding a condition variable in a rule, basically.

Here's what I saw for 3.7.0 with that config:

DEBUG: matched "from"
DEBUG: fileName found is /workspace/runwar/tests/resource/war/simple.war/funkitron
DEBUG: checking to see if /workspace/runwar/tests/resource/war/simple.war/funkitron is not a file
DE

[2018-03-16 10:47] davemerrill commented on #101
That's great news Den, thank you. I gather you found a reproducible test
case?

On Sun, Mar 11, 2018 at 1:32 AM, Denny Valliant <notifications@github.com>
wrote:

[2018-03-16 18:14] bdw429s commented on #101
I just bumped CommandBox's snapshot to include the new `3.8.0-SNAPSHOT` of runwar.  It will be built in a few minutes.  Please grab the latest CommandBox snapshot and see if this issue has cleared up!

[2018-03-16 23:52] denuno commented on #101
Yep Dave, the video did the trick for reproducing, and theoretically fixing! :smiley:

[2018-03-17 04:36] bdw429s commented on #100
@denuno Can you confirm this is just a single setting that controls both the secure and HTTP only aspect of the default session cookie?

[2018-03-17 05:47] denuno commented on #100
Yeah, just the one, if you've got a reason for why it should be two we can split 'em tho.

[2018-03-17 19:01] bdw429s commented on #100
Well, I think of the obvious reason would be if a user wants to have a secure session cookie that's accessible via JS on the page, or if a user wanted a cookie to be HTTP only but wanted to pass it over HTTP.  We're assuming that those scenarios will never be asked for.  Perhaps that's a safe assumption, but I don't know.

[2018-03-17 20:03] denuno commented on #100
Meh, as I mentioned, I like `cookie` better for a prefix if we split them out.  It was more of a "here's the common one used to pass verification checks" than a prediction of what would be wanted.  Really these settings should be handled/verified by the application itself for safety.

Since there will be environments/profiles for handling multiple settings in one setting, ish, probably better to g

[2018-03-19 19:56] bdw429s opened #105 "3.8.0 snapshot errors on Adobe CF11 engine"
After upgrading to the 3.8.0 snapshot, one of my local CF11 sites stopped working.  With errors in the logs such as these:

[code]

[code]

:point_up:  The `D:\webroot\WEB-INF` path above is NOT the correct path to the web-inf.  In fact, that folder doesn't even exist.  It should be pointing to the CommandBox server home.  Something seems to have changed in the handling of the WEB-INF for Adobe se

[2018-03-19 23:04] gpickin commented on #105
Simple issue for rewrite files, posting as a separate issue

[2018-03-19 23:06] gpickin opened #106 "3.8.0 snapshot breaks rewrites due to web-inf directory mismatch"
INFO: org.tuckey.web.filters.urlrewrite.utils.Log DEBUG: logLevel set to DEBUG
Mar 19, 2018 3:29:39 PM io.undertow.servlet.spec.ServletContextImpl log
INFO: org.tuckey.web.filters.urlrewrite.UrlRewriteFilter DEBUG: confPath set to /WEB-INF/urlrewrite..xml
Mar 19, 2018 3:29:39 PM io.undertow.servlet.spec.ServletContextImpl log
INFO: org.tuckey.web.filters.urlrewrite.UrlRewriteFilter DEBUG: statusEn

[2018-03-19 23:17] bdw429s commented on #106
@gpickin Can you run a `--debug` start just to confirm that CommandBox isn't passing the config path to Runwar with the extra dots already in it?

[2018-03-19 23:18] gpickin commented on #106
well, when i reverted to runwar 3.7 it worked fine with just 1 dot
so i assumed it was runwar 3.8.0

[2018-03-19 23:20] gpickin commented on #106
It creates the file with 2 dots, and looks for it with 2 dots, so thats another issue... but still exists.
I think the web-inf issue is the same reason Adobe CF isn't working for you @bdw429s

[2018-03-19 23:33] gpickin commented on #106
CommandBox:cms.avoyatravel.com> start --debug --console --trace
Looking for server JSON file by convention: C:\www\cms.avoyatravel.com\/server.json
webroot defaulted to location of server's JSON file: C:\www\cms.avoyatravel.com\

Running package script [preServerStart].

start server in - C:\www\cms.avoyatravel.com\
server name - dev-cms.avoyatravel.com
server config file - C:\www\cms.avoyatravel.

[2018-03-19 23:34] bdw429s commented on #106
@denuno I just confirmed with Gavin, CommandBox is passing the arg to Runwar as:
[code]
But the logs show the new path is:
[code]

[2018-03-19 23:38] gpickin commented on #106
For a custom file, you see the following

` --urlrewrite-file C:\www\cms.avoyatravel.com\.htaccess
INFO: org.tuckey.web.filters.urlrewrite.UrlRewriteFilter DEBUG: confPath set to /WEB-INF/urlrewrite..htaccess
INFO: org.tuckey.web.filters.urlrewrite.UrlRewriteFilter ERROR: unable to find urlrewrite conf file at /WEB-INF/urlrewrite..htaccess`

[2018-03-20 05:50] bdw429s commented on #100
I like that.  Let me know when you have it broken out and I'll test it.

[2018-03-22 04:19] bdw429s opened #107 "Server won't start with $ in web root path"
Ran across this a few months ago in CommandBox and put in a JIRA ticket but forgot to create one here as well.

[code]

[2018-03-29 05:02] denuno commented on #107
Should be fixed in latest snapshot.

[2018-03-29 05:03] denuno commented on #106
I _think_ this is fixed...

[2018-03-30 05:55] bdw429s commented on #106
Rewrites are still broken on the very latest snapshot:
[code]

[2018-03-30 05:56] bdw429s commented on #105
Adobe engines are still totally broken in the latest 3.8 snapshot.  Trying to start a 2016 server with
[code]
gives me this:
[code]

[2018-03-30 05:57] bdw429s commented on #100
@denuno Did the latest snapshot break out these settings?

[2018-03-30 05:58] bdw429s opened #108 "Log4j warnings are back, and more than ever in latest snapshot"
This message here that appears when the first http call is made was gone in the first 3.8 snapshot, but now it's back:
[code]
And now there's even more logging popping up.  This is from just closing a Git repo with JGit.
[code]

[2018-03-30 06:00] bdw429s opened #109 "Name of server out log has changed"
The `server.out.txt` log has changed to `server.log`.  There are people out there who have scripts dependant on the name of that log file.  Is there a setting where I can control the name to get the original name back?

[2018-03-30 06:01] bdw429s opened #110 "Extra output in logs"
The console out logs have extra text that doesn't make sense.
[code]
The number changes, but I'm not sure what this means.  Can we remove it?

[2018-03-30 06:02] bdw429s opened #111 "Additional log messages I've never seen."
Do you know where these lines are coming from?  They're related to Lucee, but I've never seen them in my logs before:
[code]

[2018-03-30 06:03] bdw429s opened #112 "ANSI colors for all log levels"
Server out `trace` logs have some sweet ANSI colors now which I like, but `error`, `info`, and `debug` logs are all still devoid of color.  Can we get colors for all the log levels.  Red for errors, yellow for debug, etc.

[2018-03-30 06:04] bdw429s opened #113 "Need to add a space to server out log"
Need to add a space here: after `to:` and before the path
[code]
so it reads
[code]

[2018-03-30 06:06] bdw429s opened #114 "Add rewrite log for when rewriting is enabled"
I like the basic rewrite info stuff that goes into the out logs, but we've lost all debug and trace logging in Tuckey which is no good at all.  Let's create a new rewrite log when rewriting is enabled that will also capture all logs from Tuckey.  When debug and trace logging are enabled, Tuckey's debug and trace logs will go there.

[2018-03-30 22:07] denuno commented on #106
If I try something like:
[code]
it seems to work, can ya post the other startup params so I can see what's up?

[2018-03-30 22:16] bdw429s commented on #106
@denuno Just grab the latest CommandBox snapshot, drop in Runwar and do this:
```start --debug --console --rewritesEnabled```
It will show you the full list of JVM args and you can see the errors right there in the console! :)

[2018-04-01 00:43] #101 closed

[2018-04-01 00:43] #113 closed

[2018-04-02 04:31] denuno commented on #108
The log4j.debug property should be fixed now, but we're going to need to discuss logging... instead of levels we should use profiles, as there are lots of knobs to twist now... input welcome once you can actually test again. :smiley:

[2018-04-02 04:35] denuno commented on #112
Maybe hard-coding the colors in will do something... FWIW I had already seen different colors per log entry type, so lemme know if this does something different.  If you have a set of ANSI colors you'd like to see feel free to provide them, I just cut and paste something that had all of them defined and now they're brighter and such so :+1:

[2018-04-02 04:49] denuno commented on #110
This was still from the stale build, but there are now a few loggers which can be controlled separately as to level -- `runwar.server` (general), `runwar.config` (having to do with config, web.xml parsing, etc.), `runwar.request` (resource mapper logging for aliases and such), and `runwar.security` (for SSL, user auth, etc.) so each line will start with the name of the logger (versus all being Run

[2018-04-02 05:01] denuno commented on #114
We can _kind_ of do this by directing the undertow servlet logger to a file appender we want to see the rewrite log entries in, but for some reason thus far I haven't been able to get the tuckey logger to not be a child of the servlet logger, so it'd be other stuff too-- that is, eventually it could get it's own log, but for the next release at least the most we could do would be add a `servlet.lo

[2018-04-02 05:09] bdw429s commented on #108
@denuno The crazy debugging is gone, but the original Log4J messages are present the first time an HTTP call is made.  This is so easy to test.  Just fire up `box` and run a command that hits HTTP such as `forgebox show coldbox` and you'll see this output:

[code]

[2018-04-02 05:15] bdw429s commented on #112
Testing again on 3.8.1 now and the colors are all there.  They look _sweet_.  All the Tuckey stuff is back and it's pretty chatty so I'd like to get that moved to its own log still, but other than that it's looking pretty good.

[2018-04-02 05:16] bdw429s commented on #112
![image](https://user-images.githubusercontent.com/584009/38184105-11797020-360b-11e8-928a-4e8871d64731.png)

[2018-04-02 05:17] bdw429s commented on #112
Can you help explain why some of these lines seem nested inside two loggers:

[code]

This line starts with
[code]
And then ends with

[code]
How is it both `DEBUG` and `INFO` at the same time and showing two separate logging categories?

[2018-04-02 05:20] bdw429s commented on #114
Hmm, I just posted about this on another ticket where the Tuckey logs seem to be getting nested inside the servlet logs, and their logging categories are being overridden to.

[code]

Should I ask over on the undertow list about it?

[2018-04-02 05:21] bdw429s commented on #111
I'm not seeing these any longer on 3.8.1.

[2018-04-02 05:21] bdw429s commented on #109
Will we be able to revert this name?

[2018-04-02 05:25] bdw429s commented on #105
At first glance, Adobe seems to be working again on 3.8.1.

[2018-04-02 05:26] bdw429s opened #115 "Log4J warnings on Adobe 2016"
These warnings don't seem to be breaking anything, but is there anyway to suppress them?  I see these when doing a console start on an Adobe CF 2016 server.  You can see Runwar's Log4 bindings seem to be fighting a bit with Adobe's.

[code]

[2018-04-02 05:29] bdw429s commented on #107
First test seems to work good

[2018-04-02 05:31] denuno commented on #109
Yep, this is configurable.  I went ahead and switched it back to `.txt`.  Since prefixes have changed too I thought 6 of one-- at least people would know something changed. :wink:

Like I've mentioned, we're using log4j now, so basically we can do what it can do (check that config file I linked to in slack for an example).

[2018-04-02 05:31] bdw429s commented on #100
@denuno Will these settings be broken out as part of 3.8.1?

[2018-04-02 05:33] bdw429s commented on #106
Rewrites seem working OK now in 3.8.1

[2018-04-02 05:33] denuno commented on #115
Oh yeah, meant to check that, it's supposed to skip adding any more slf4j libs to the classpath when loading.

[2018-04-02 05:35] #110 closed

[2018-04-02 05:35] bdw429s commented on #110
This is no longer present in 3.8.1

[2018-04-02 05:40] denuno commented on #114
I guess it wouldn't hurt.  Pretty sure it's been that way for a while, and I just manually replaced the `io.undertow.servlet: ` bit before, IIRC.  Really I'd like to switch to undertow rewrites, I bet they'd be faster, but that'd take writing some type of adapter to load the configs, which isn't trivial.

[2018-04-02 05:41] bdw429s commented on #109
Like just now?  I didn't see any commits just now but perhaps you just haven't pushed yet.

[2018-04-02 05:48] denuno commented on #112
I think it might be the logger Tuckey is using... I have the sources here but haven't looked, it could also be that it's a result of being a filter on a servlet... but that doesn't sound quite right.  More likely a result of being shaded into the same jar.  We can see if the Undertow folks have any ideas, it could be an existing thing... I'd wager it's a result of the customizations though versus

[2018-04-02 05:50] denuno commented on #112
I'm going to close this one, feel free to add comments if we need to change colors or anything, but we'll cover the other stuff in the more specfic logging tickets.

[2018-04-02 05:50] #112 closed

[2018-04-02 05:51] denuno commented on #106
Excellent!

[2018-04-02 05:51] #106 closed

[2018-04-02 05:54] bdw429s commented on #99
@denuno Circling back to this ticket for testing now.

I'm just going after the same basic "error" log that you'd get in an Apache or Nginx web server.
https://httpd.apache.org/docs/1.3/logs.html#errorlog

Are we able to get this same information from Undertow's web server?

Is that to say that there *isn't* rotation on the `request` log or did you mean to imply that both logs have automatic rotat

[2018-04-02 05:58] bdw429s commented on #109
Oh, I see what happened.  You tried to change it back, but not quite.  The server log name is currently:

[code]

Check out the extra period in there.

[2018-04-02 06:01] bdw429s commented on #99
Testing with these settings:
[code]
But it produces a log file named `accesslog` with no period in there for the file extension.  You showed the default log name as `access` with no period.  Should I be including a period in the log file name or is this a bug?

[2018-04-02 06:05] bdw429s commented on #99
What does this error mean?

[code]

[2018-04-02 06:09] denuno commented on #99
There should be rotation on everything now, configurable (generally) by date/size/etc.. The logging appenders can be configured at runtime, so stuff can go anywhere-- files, streams, logstash or whatnot.  The separate error log is just a matter of saying "log these levels to this file, these to this other", and "these" for one being solely error. :smiley:

As for that missing period... I think the

[2018-04-02 06:44] denuno commented on #100
Yep, I splitted 'em!  Kept the easy single on tho. :smile:

[2018-04-02 13:41] bdw429s commented on #99
Great.

Oh, that's interesting.  I don't know what it would look like to do that, so I'd love to see an example if you can cook one up.  I can add it to the CommandBox docs for people to play with.

Yep, I get that you're saying it's just a subset of information.  Every other web server I've seen has "error" logs and it's been pointed out a couple times now that lack of proper access/error logs is

[2018-04-02 15:48] bdw429s opened #116 "Allow no rest mappings to be supplied"
I've had a hacky workaround in place ever since the `--servlet-rest-mappings` arg was added in:

[code]
I don't recall the error right off, but I'd like to be able to just omit the `--servlet-rest-mappings` when none are specified (which is the default in CommandBox)

[2018-04-02 23:12] gpickin commented on #104
Did some debugging with Brad today. I'll file new issues for remaining issues.
Its much better than it was.
Thanks.

[2018-04-02 23:17] gpickin opened #117 "RewriteRule ^.*$ - [NC,L] - Hypen not respected"
This is a common mvc rewrite.
RewriteRule ^.*$ - [NC,L]

This link describes its use, what it means, and does.

https://stackoverflow.com/questions/4350597/apache-rewriterule-dash-as-substitution?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

Using this causes the CONF file to error and stop the engine from loading.
I was thinking the condition was bad, but it was actual

[2018-04-02 23:25] gpickin opened #118 "rewriteRule when relative is malfunctioning when depth greater than 1"
Rewrites are getting confused from rewrite match to lucee request being executed.
Same rewrites work on Apache

With the following rule.
```RewriteRule ^(.*)$ index.cfm%{REQUEST_URI} [QSA,L,NS]```

Hitting a url of `/cbadmin` is rewritten as `/index.cfm/cbadmin` correctly

Hitting a url of `/cbadmin/foo` is matched by the rules and says its rewriting as `/index.cfm/cbadmin/foo`
The actual request

[2018-04-03 21:07] bdw429s commented on #107
https://ortussolutions.atlassian.net/browse/COMMANDBOX-749

[2018-04-03 21:07] #107 closed

[2018-04-03 21:41] bdw429s commented on #114
@denuno Thread started here:
http://lists.jboss.org/pipermail/undertow-dev/2018-April/002196.html

[2018-04-04 01:33] gpickin opened #119 "Rewrite does double redirect if you dont have leading / on from"
[code]
[INFO ] io.undertow.servlet: org.tuckey.web.filters.urlrewrite.UrlRewriter DEBUG: processing request for /resorts/resort.cfm
[INFO ] io.undertow.servlet: org.tuckey.web.filters.urlrewrite.RuleBase DEBUG: Rule 0 run called with /resorts/resort.cfm
[INFO ] io.undertow.servlet: org.tuckey.web.filters.urlrewrite.RuleBase DEBUG: matched "from"
[INFO ] io.undertow.servlet: org.tuckey.web.filters.

[2018-04-04 01:34] gpickin commented on #119
Note, this doesn't happen on an ordinary rewrite rule.

[2018-04-04 01:56] gpickin commented on #119
Figured it out...

/.* for the FROM
`RewriteRule /.* 410.html` works

`RewriteRule .* 410.html` wont
You need the / for the from or it wont work.

[2018-04-04 04:06] bdw429s commented on #100
@denuno Can you document the final names of the new config settings here please?

[2018-04-04 23:05] gpickin commented on #119
To compare vs apache 2.0 I ran a few tests

httpd rewrites are weird too but different weird than Runwar

With a rewrite, the from rule something like `/index.htm` doesn't match... but `index.htm` does match... the URI coming in with httpd 2.0 does not have the `/`
so that is different to runwar for sure
and IIS does have the `/` in it according to a customer file.

for the TO it never seems to be

[2018-04-05 02:58] bdw429s opened #120 "/CFIDE doesn't work on Adobe servers"
`/CFIDE` doesn't work so I can't hit the administrator
[code]
:point_up: That code in the mapped resource manager is supposed to handle it
But here's the trace logs:
[code]
The leading slash doesn't appear to be present
It's `CFIDE` instead of `/CFIDE` which I assume is preventing if from hitting the if statement above.
What would have caused that?

[2018-04-06 04:41] denuno commented on #120
Hmm, that's actually working for me, and I switched to a regex matcher for that so slash or no slash it should find it...

[2018-04-06 04:43] denuno commented on #120
I added a clean to the build, maybe it wasn't putting fresh artifacts out or some such, as like I said I switched to a regex a couple commits back.

[2018-04-06 04:52] denuno commented on #116
Looks like I added a value check for that a while back, you can pass it an empty string now I believe.

[2018-04-06 04:58] denuno commented on #115
Meh, I just suppressed the message, there's nothing I can do as that's actually Adobe's URL classloader loading that one and I'm not down to add another level of classloading into the mix at this point (what it would take to have them in one spot but not another).

[2018-04-06 04:58] #115 closed, assigned to nobody

[2018-04-06 05:03] denuno commented on #108
If you ever want to turn this back on, just pass `-Dlog4j.debug=true`. :smiley:  I think it's all good now as I've switched to a programmatic configuration.

[2018-04-06 05:03] #108 closed

[2018-04-06 05:17] denuno commented on #114
Thanks for asking about that, it led me to passing in `SLF4J` as the log level to tuckey, which lets it use the loggers... I didn't bother tweaking the tuckey fork as now the logging config is in code vs. config files so 'tis easier to manhandle. :smiley:

The new param is `--urlrewrite-log /path/to/log/file`, and there are like 4 loggers for those rewrites, so I dunno... I think you were saying y

[2018-04-06 20:18] bdw429s commented on #108
@denuno This is not fixed.  I'm testing the very latest 3.8.1 build from cfmlprojects and the first HTTP call made after I load up the CLI is outputting these messages to the console.

[code]

Did you put in a fix that worked for you after I reported this again on the 2nd?  This has been broken in every single build of runwar so far with the possible exception of one of the very early 3.8.0 ones.

[2018-04-06 20:25] bdw429s opened #121 "Server out log is missing tons of logging that shows up in the console"
On the latest Runwar 3.8.1 build, I just ran a `start --console` and compared the output on my screen to what was placed in the `server.out.txt` file and they are not even close.  Should they be the same?

Here's the contents of `server.out.txt`:

[code]

And here was what was in the console:

[code]

[2018-04-06 20:33] bdw429s commented on #121
Confirmed on Adobe.  All the CF engine console logs are missing from the text file.

[2018-04-07 01:49] denuno commented on #121
Hmm, I was hoping we'd get those log entries too, but they're all going to system out, and that's not tracked.

There are a couple examples of outStream to log4j loggers, I'll slap one of those in, as the teeStream deal won't work now.

[2018-04-07 01:50] denuno commented on #120
Gonna close this as it looks like we're good to go with adobe again.

[2018-04-07 02:37] bdw429s commented on #121
Ok, let me know when that's back up and running and I'll test.

[2018-04-07 03:02] bdw429s commented on #116
@denuno Nope.  I just tried it and if I provide an empty string for the rest mapping, then the default rest mappings kick in.  I don't want there to be any rest mapping by default unless the user explicitly configures them.

[code]

[code]

[2018-04-07 03:14] bdw429s commented on #114
Here is the line of debug that I'd like to see in the regular old console output when `--debug` is set:

[code]
So, that's the `DEBUG` messages from the `org.tuckey.web.filters.urlrewrite.RuleExecutionOutput` logging category.

It basically just lets me know that the URL was rewritten and what it was rewritten to.  I'd also like to have a single line before that in debug mode that simply shows wha

[2018-04-07 03:15] bdw429s commented on #114
The logs are starting to look a lot better BTW.  How that those tuckey log entries aren't nested inside of the undertow categories it really cleaned up the output a bit

[2018-04-07 03:15] bdw429s commented on #109
I think this is ok now.

[2018-04-07 03:15] #109 closed

[2018-04-07 03:15] #105 closed

[2018-04-07 03:16] bdw429s commented on #102
Confirmed this is now the message:

[code]

[2018-04-07 03:16] #102 closed

[2018-04-07 03:17] bdw429s commented on #120
Nope, still having issues on my Windows box.  I can't reopen this ticket :/
I get a ColdFusion missing template exception when I try to hit the admin.
[code]

[2018-04-07 03:18] denuno commented on #116
Does `--servlet-rest-enable` not work?

[2018-04-07 03:19] bdw429s commented on #112
@denuno Just wanna say I freaking love the colors on these.  We're slowly but surely whipping these logs into shape.  They're much more relevant and much prettier than ever before! :)

![image](https://user-images.githubusercontent.com/584009/38450729-9ec77630-39e8-11e8-9a31-f84bdcb0b2fb.png)

[2018-04-07 03:54] bdw429s commented on #116
Nope, that doesn't seem to do it.  With this JVM arg in place:

[code]
I see this in the console logs:
[code]

[2018-04-07 03:56] bdw429s commented on #114
Just confirming, the other logs have several CLI options to set the directory, file name, etc.  Is the rewrite log a single shot thing?  I'm totally cool with this as I'm not exposing all the bits and pieces to CommandBox users right now anyway.  Just wanted to check since it seemed inconsistent.

[2018-04-07 03:57] bdw429s commented on #100
@denuno Can you document the final names of the new config settings here please?

[2018-04-07 04:06] bdw429s commented on #114
The rewrite log looks fantastic!  There's nothing logged there for a "normal" start, it gets debug and info messages for a debug start and trace messages added in for a trace start.  That is perfect.  I think the only two remaining things to think about are:
1) Can we get that `org.tuckey.web.filters.urlrewrite.RuleExecutionOutput` category added to the console out log when debug logging is on jus

[2018-04-07 21:43] denuno commented on #100
[code]

[2018-04-08 00:04] bdw429s commented on #100
Thx @denuno , I'll plug those in!

[2018-04-08 04:40] bdw429s commented on #108
It seems these warnings are finally gone.

[2018-04-09 05:41] #121 closed, assigned to nobody

[2018-04-09 05:42] bdw429s commented on #121
Working now on 3.8.1

[2018-04-09 05:42] bdw429s commented on #120
Working a little, but still seeing errors in the logs related to the new regular expressions:

[code]

[2018-04-09 21:13] gpickin opened #122 "Runwar Rewrite rules aren't case sensitive by default"
Runwar Rewrite rules aren't case sensitive by default
usually you need the NC flag for a rewrite to ignore case.
but its matching regardless of case
so on a redirect, to correct case or a folder, it infinitely loops

This rule is a test case
`RewriteRule /Cruises/(.*)$   http://www.google.com [R=307]`

Whether it's cruises or Cruises or cRuises it always redirects to Google.
This was tested on win

[2018-04-10 22:52] #120 closed, assigned to nobody

[2018-04-11 19:21] bdw429s opened #123 "Fixes to make Adobe servers behave"
CommandBox has a couple special JVM args for Adobe servers.  Add them into Runwar so they're all together with the other "magic"

[code]

[code]

[code]

[2018-04-11 20:12] bdw429s opened #124 "Log incoming requests to console in debug mode"
I'm really feeling good about where logging has ended up right now.
I think the only thing I'd change would be to have an entry per HTTP request for `debug` starts that simply shows the URL /path info as it came in.  That would pair very nicely with the single rewrite line you've added if the request was rewritten.

And then the access and rewrite log are perfect for anything else people want, esp

[2018-04-11 21:12] bdw429s opened #125 "Console out on background start has nested Logging information"
When I do `start --debug` in CommandBox, the console out that streams while the server starts up looks like this:

[code]

We don't want the first part:
[code]
but do want to keep this part:
[code]
Note the actual message is `DEBUG` but is getting re-logged as `INFO`.

[2018-04-14 20:06] denuno commented on #125
Theoretically this has been fixed, though it seems like intermittently Adobe just hangs with a request now, lemme know if you see that.

[2018-04-17 04:55] #125 closed, assigned to nobody

[2018-04-17 04:56] bdw429s commented on #125
The double logging is fixed.  We are seeing both Adobe and Lucee hanging on some requests which is a huge blocker.  Also, the rewrite log seems to have stopped working.  I'll open a new ticket for that.

[2018-04-17 04:56] #124 closed, assigned to nobody

[2018-04-17 05:03] bdw429s commented on #123
@denuno Turns out Lucee seems to have Jetty embedded somewhere in it as well.  The fixes you made are working great for Adobe CF, but can you make the `-Dorg.eclipse.jetty.LEVEL=WARN` one apply to Lucee servers as well please?

[2018-04-17 05:31] bdw429s commented on #100
@denuno This doesn't seem to be working.  I set the following:
[code]
and enabled session type of `JEE` in my Lucee server so I would get a `JSessionID` but the cookie is not set to HTTP only.  Note I didn't enable SSL for this first test.

I reviewed the code in Runwar and it only seems half way implemented.  I'm not even sure how it should be working.  I can only find this single reference in `S

[2018-04-17 05:35] bdw429s opened #126 "Pages randomly hang and rewrite log is broken"
The latest build of Runwar 3.8.1 randomly hangs on some pages in the browser.  Also, the rewrite log has stopped working as well.  The log gets created but no content every appears in it.  Not sure if the two are related.

[2018-04-17 05:36] bdw429s opened #127 "Rotated access log has double period"
The good news is the access log rotation seems to work but the bad news is the file name is a little off:

[code]
Was that perhaps meant to be this?
[code]

[2018-04-17 15:43] bdw429s opened #128 "regex string index out of bounds exception"
I'm still seeing occasional errors like this in my console logs.  It's related to the undertows new regex checks.

[code]

[2018-04-18 17:49] #126 closed, assigned to nobody

[2018-04-18 17:51] #114 closed

[2018-04-18 17:52] bdw429s commented on #57
This should all be fixed now with the reworked logging

[2018-04-19 00:02] denuno commented on #100
@bdw429s Thanks!  That was it.  Should be fixed!

[2018-04-19 21:42] gpickin opened #129 "htaccess rules doesn't accept tab as a delimiter"
If you have a rewriterule - with only tabs between the input and output it will not work.
If you have a space then tabs, it does work.
I assume only spaces are considered valid delimiters.

[2018-04-20 16:49] jcberquist opened #130 "System Tray in CommandBox 4 is not scaled properly on Windows HiDpi display"
![systemtray](https://user-images.githubusercontent.com/3498220/39063343-a34b99ec-447f-11e8-99c6-338c56ba9c27.png)

@bdw429s suggested I open an issue here.

On the left is the CommandBox 4 snapshot, and on the right is CommandBox 3.9.2

This is on a 3840x2160 display at 200% scaling.

[2018-04-20 18:33] bdw429s commented on #130
Thanks for the ticket @jcberquist For @denuno 's reference, here is the actual image used on Windows for Lucee servers (it's different for mac)
https://github.com/Ortus-Solutions/commandbox/blob/development/src/cfml/system/config/server-icons/trayicon-lucee-32px.png

[2018-04-20 22:42] bdw429s commented on #130
I can confirm on my Windows 10 lappy the icon seems cut off.

![image](https://user-images.githubusercontent.com/584009/39076648-33c102f4-44c2-11e8-839f-1c6c45db0b8d.png)

[2018-04-20 22:44] bdw429s commented on #130
For comparison, here's the same thing on my Windows 7 desktop PC

![image](https://user-images.githubusercontent.com/584009/39076686-78a1abf8-44c2-11e8-8c2f-32a9094ec52c.png)

[2018-04-21 02:33] bdw429s commented on #130
@jcberquist I mentioned in Slack today that we hadn't touched the system tray stuff.  I was wrong-- Denny told me today that he did upgrade to the latest version of DorkBox (no Ortus relation!) which apparently contained the regression.  If we can't get it fixed, we might just revert the upgrade.

[2018-04-23 15:53] bdw429s commented on #129
@gpickin This is read to test too

[2018-04-23 15:54] bdw429s commented on #127
Looks like the new file name now is:
```access2018-04-22.txt```
I would prefer to have some separator between the file name and the date, but I can live with this.

[2018-04-23 15:54] #127 closed, assigned to nobody

[2018-04-23 15:55] bdw429s commented on #128
@denuno Can we just add some additional logging or something so when this happens again we can figure out what the issue is?

[2018-04-23 15:56] #123 closed, assigned to nobody

[2018-04-23 15:56] bdw429s commented on #130
@denuno Are we just going to revert this for now?

[2018-04-23 16:53] bdw429s commented on #100
@denuno Can you me the steps you've been using to test.  I'm not sure if I'm doing it right but I just can't seem to get this to work.  Here's what I did:
[code]
This  spins up a Lucee 5 server with the JVM args
[code]
When I open up the web browser and my Chrome tools, the `JSESSIONID` cookie does not have a checkmark under the "HTTP" column.  I've tried switching the Lucee setting for session va

[2018-04-25 03:19] bdw429s commented on #130
We reverted DorkBox for now and the icon is no longer cropped off.

[2018-04-25 03:19] bdw429s commented on #130
@denuno This can be closed now

[2018-04-25 03:20] denuno commented on #130
:+1:

[2018-04-25 03:20] #130 closed, assigned to nobody

[2018-04-25 16:29] denuno opened #131 "Allow configuring default brower to use when opening a URL"
The list of browsers is hard-coded, expose a way to configure which is tried first.

[2018-04-30 19:15] gpickin commented on #122
This seems to be fixed

[2018-04-30 19:15] #122 closed, assigned to nobody

[2018-05-04 14:22] gpickin commented on #129
This now works.

[2018-05-04 14:22] #129 closed, assigned to nobody

[2018-05-04 14:26] gpickin commented on #119
This is still broken.

[code]

[2018-05-04 15:38] gpickin commented on #118
with this rule: `RewriteRule ^(.*)$ index.cfm%{REQUEST_URI} [QSA,L,NS]`
hitting this url - `http://127.0.0.1:53575/app/monkey/lion/tiger`
I see this error
[code]

if i have the trailing `/` like `http://127.0.0.1:53575/app/monkey/lion/tiger/`
then i see this error
[code]

If i make the rule have a slash `RewriteRule ^(.*)$ /index.cfm%{REQUEST_URI} [QSA,L,NS]` then it works from the base.

[code]

[2018-05-04 15:42] gpickin commented on #117
This looks to be fixed :)

[2018-05-04 15:42] #117 closed, assigned to nobody

[2018-05-09 14:57] bdw429s opened #132 "Allow setting custom HTTP headers"
I've had a couple people ask about this.  The idea is to configure a server to send some custom HTTP header response for every request such as adding an `X-Frame-Options` to every request.  I don't know if it's possible or easy, but there might be usefulness in being able to _block_ (or unset I think it's called in Apache) certain HTTP headers that may have been set upstream in the request.

[2018-05-10 14:54] bdw429s opened #133 "Undertow AJP tuning options"
Tomcat's AJP connector has the following tuning settings:

[code]

 Check undertow and see if they have equivalent settings and expose them via Runwar.

[2018-05-15 15:09] bdw429s opened #134 "Add Java version as info log"
I find myself looking at console logs of people's servers a lot and I often times wonder exactly what version of Java they used to start their server.  Can we add a line of info logging around here that simply outputs the version of Java in use to start the server:

[code]

[2018-05-16 21:59] bdw429s opened #135 "Allow to start a pure HTML server"
It could be handy to have Runwar start up undertow purely to serve static assets like HTML, images, etc but not require a CF engine or java war.  Is that possible?  Would I just need to create a dummy war that had an empty WEB-INF/lib and a bare `web.xml`?

[2018-05-16 22:00] lmajano commented on #135
It would be great if I could start a-la-carte web servers that can be used to host front-ends. Even better would be to add them with websocket support, so I can start another server somewhere, which is cfml and pushes data to my websocket server as well.

However, for now, I jsut wanted a front-end server for static assets.

[2018-05-17 03:34] denuno commented on #134
Already changed in version 4 (since to have older CF versions work you have to swap out the `java.version` property), now it outputs both what is required and what is detected (at least via the `java.version` system property).

[2018-05-17 03:38] denuno commented on #135
Pretty sure I added this in 3.8.  You shouldn't need a WEB-INF anymore to run a plain asset server (and I guess proxy or websocket server-- haven't really tried though).

[2018-05-17 03:48] denuno commented on #132
I ended up adding the cookie httpOnly and secure headers by hand.  Pretty easy.  We could do a `header-set="List=Of,Header=Values"` and `header-unset="List,Of,Headers"` perhaps?

[2018-05-29 20:05] bdw429s opened #136 "How to account for context path in rewrites"
I was testing starting up a server with the default CommandBox URL rewrites and a custom context path and found it doesn't work which isn't super surprising, but I'm not sure how to fix it.

If I run these commands:
[code]

Then, these URLs work fine:
- http://127.0.0.1:63292/myContext/
- http://127.0.0.1:63292/myContext/index.cfm
- http://127.0.0.1:63292/myContext/includes/test.txt

However, if I

[2018-08-04 19:41] bdw429s opened #137 "Implement access control in Undertow"
There are a lot of use cases for wanting to deny access to certain URL patterns and Undertow seems to have some decent support for this.  Let's think of the best way to declare access control for certain paths that makes it easy to use but it still configurable.  For instance, it may be easiest to simply have a list of paths that we want to deny, but it would be better if we could allow exceptions

[2018-08-04 19:43] bdw429s opened #138 "Add generic feature to set any valid Undertow option"
Runwar has support for many of the undertow options, but it would also be handy to have a generic approach for any edge case options or new options that a user needs to tap into that we don't have first-class support for yet.

http://undertow.io/undertow-docs/undertow-docs-2.0.0/index.html#options

[2018-08-04 19:52] bdw429s commented on #137
https://ortussolutions.atlassian.net/browse/COMMANDBOX-831

[2018-08-08 16:41] bdw429s opened #139 "Set default FusionReactor transaction name for static files"
When using FusionReactor with CommandBox, static files such as js, css, or jpgs show in the FR UI with the transaction name of "URLRewriteFilter". This is because FR tries to "guess" the name based on the enclosing servlet, which can lead to completely random transaction names based on the servlet filter that happens to be wrapping the request.  This is purely a cosmetic thing, but detect if the F

[2018-08-08 19:57] bdw429s opened #140 "Allow arbitrary actions for menu items"
It would be cool to provide a command line to execute for a menu item.  Either a `box` command option (I'd likely need to provide the full path to the binary to runwar) or any OS command that a user wanted to configure.  This could be anything ranging from a `git pull` on the web root to a `grunt build` or a `cmd box server log --follow` (open a console) or `calc.exe` (why not, right? :) ).

I thi

[2018-08-09 18:35] bdw429s opened #141 "Tray menu placeholders such as ${runwar.port} are not replaced in sub menus"
PID shows up when I output it in a sub menu, but when I tried to move the open URL functions to sub menus, runwar tries to open this URL:
[code]
which, of course, doesn't work and the browser never appears.

[2018-08-12 19:42] denuno commented on #136
Hmm, maybe check this out: https://stackoverflow.com/questions/23665573/tuckey-urlrewrite-matching-and-context

Specifically the `use-context` and `%{context-path}` bits.  The docs seem to say the context will be added automatically, but also maybe that they won't, so... ¯\_(ツ)_/¯

[2018-08-12 19:48] denuno commented on #138
I'm thinking a xnioOptions="SOME_OPTION=2345,ANOTHER=woohoo" as the format, think that would work for everything?

On a semi-related note, I like JSON files to represent the data, so where we're storing lists (welcome files, and potentially this), I'd prefer to convert them to arrays, and store that in the JSON instead, just so we can eventually have a schema and verify things easier (and stuff li

[2018-08-12 20:11] denuno commented on #137
We should probably set this up to jive with the basic auth stuff.  I actually added some Undertow ACL code back then and played with it a little:

https://github.com/cfmlprojects/runwar/blob/master/src/main/java/runwar/security/SecurityManager.java#L77

IIRC we just need to figure out how to define the ACL...

This is another thing that looks a lot better in JSON than on the command line, and role

[2018-08-12 20:13] denuno commented on #137
Paths with no users/roles are forbidden?  I dunno, seems like this and the existing auth stuff should go together though.

[2018-08-14 01:25] denuno commented on #140
I've got a rough implementation of this that uses a process builder and a dialog window with scroll bars for results.  It'd be easy enough to let the user control what happens with the output.  Maybe have a `output="dialog"` or `output="/file/path"` or `output="/dev/null"` type of deal?  We'll let them set the working directory as well.  I think that'd be pretty good and cover most uses.

Looks li

[2018-08-14 15:57] bdw429s commented on #140
I'll likely default the working directory to the web root, but we can allow the user to set it if they need.  Regarding output, the two most common uses are probably none and dialog.  What if a user opens something like calc.exe.  Will that process stay tied to the Java server so if they stopped the server, calc would close?  Just curious what the relationship would be for launching an unrelated p

[2018-08-14 15:58] bdw429s commented on #138
That format works ok so long as we won't have an equals sign or command in a setting name or value.  Or, at least, have a way to escape them.

[2018-08-14 16:23] bdw429s commented on #137
I think we should simplify it a bit of not necessarily offer everything Undertow does.  For what it's worth, I'm not sure if many people ever even use the basic auth feature. To get some perspective, the two actual use case scenarios I really have at this point are:

* Block ALL traffic to a path or path pattern
* Block IP ranges to a path or path pattern

I really don't want to go nearly as compl

[2018-08-14 16:24] bdw429s commented on #136
I'll have to give that a test. If it works, perhaps Runwar can set that automatically for sites with a context.  This is fairly edge case.  Only 1 person I know of who's tried to use a context.

[2018-08-16 18:29] bdw429s commented on #137
I got another bit of info from Stuart on the Undertow-dev list today which is interesting.  Undertow has a string syntax that allows you to specify (in some sort of config file) a parsable DSL that declares your predicates such as path matching patterns and what to do with them.

[code]

That string above would return a 404 for any box.json files.  Here's some docs:

https://github.com/undertow-io

[2018-08-22 00:33] bdw429s commented on #100
@denuno Did this ever get fixed?  I never heard back after my last report above.

[2018-08-31 20:57] bdw429s commented on #140
@denuno Did you see my question about whether the process will be tied to the server or in the background?  I've already had people ask about doing the VSCode sort of scenario where they want to fire up an IDE from their tray menu and they want it to be totally detached from the server so if the server gets stopped, the IDE doesn't close.

[2018-08-31 21:01] bdw429s commented on #139
Thoughts on this?  Should be pretty easy and we have a couple clients who could use it.

[2018-08-31 21:04] bdw429s commented on #138
I've had the need for this come up several times recently.  Ususally in regards to invalid URL chars that web servers like IIS let through but Undertow chokes on unless you set a special option.

[2018-08-31 21:14] bdw429s commented on #137
@denuno What do you think about that Undertow predicate language and what would it take for you to tap into it?  I think I'd like to experiment with something in CommandBox where I let the user give me an ordered list of Undertow predicates and handlers.  The power of undertow's predicate DSL has sort of grown on me.

[code]
I think the only real question left is, "How do I pass this from CommandB

[2018-08-31 21:21] bdw429s commented on #133
@denuno Any luck checking Undertow for equivalents to these settings?

[2018-09-06 15:42] bdw429s opened #142 "undertow deprecation warning"
I see this when starting a server.  I assume we need to update that at some point:

[code]

[2018-09-24 21:07] bdw429s opened #143 "Stop expanding /WEB-INF paths in servlet init params"
Servlet init params that start with /WEB-INF are replaced with the full path when loaded, but this causes issues if the web-inf actually points to a folder that doesn't contain "web-inf" in it since the mapped resource manager stops resolving the paths correctly and tries to put them in the web root.

See if we can stop doing this and have Adobe engines still work properly.

[2018-10-11 15:49] bdw429s opened #144 "Support adding Servlet Filters"
There are a few cases where it can be handy to be able to define custom servlet filters on your deployment.  Igal's Lucee websocket extension is an example of this as it requires a servlet filter to be present.  Expose a mechanism to register servlet filters and their params.

[2018-11-02 18:56] bdw429s opened #145 "SNI Support"
See this related CommandBox ticket:
https://ortussolutions.atlassian.net/browse/COMMANDBOX-893

[2018-11-06 21:07] DavidValeo commented on #133
I too am interested in a solution for this, for performance I was trying to use connection pooling with boncode but kept getting failed requests because the connection was timing out on the runwar side. Is there a way to change the keepAliveTimeout?

[2018-11-07 17:44] davidsf opened #146 "Tray icon not showing in Ubuntu 18.04"
The tray icon is not showing in Ubuntu 18.04. The error is:

dorkbox.systemTray.SystemTray: Unable to create tray type: '_SwingTray'

According to [this issue](https://github.com/dorkbox/SystemTray/issues/71#issuecomment-435619221) of dorkbox the new 3.17 version supports ubuntu 18.04 and other popular linux distributions.

Please consider update the dorkbox library. Thanks.

[2018-11-07 19:09] bdw429s commented on #146
@davidsf We tried to update to a later version of Dorkbox in the 4.0 release of CommandBox but it caused a lot of issues for us so we ended up reverting.  Maybe there has been more fixes since then, but we will need a lot of testing to try it again.  I don't even recall all the issues we ran into any more.

[2018-12-28 22:20] bdw429s opened #147 "workerthreads setting no longer has any affect"
The `--worker-threads 150` setting does nothing now.  It used to work in the version of Runwar/undertow we had in CommandBox 3.x but I noticed this week that I tried to use that setting while doing performance testing on CommandBox 4, and no more than 30 CF requests would process at a time regardless of what I set the worker threads setting to.  Perhaps Undertow changed how they accept that settin

[2019-01-12 19:31] denuno opened #148 "Set any valid XNIO option"
Similar to #138 users should be able to set any valid XNIO options for the server XNIO worker.

[2019-01-29 17:12] ecellini commented on #133
+1
I use boncode, please add support for maxThreads="1000" connectionTimeout="60000" packetSize="65536" keepAliveTimeout="-1"

Thank you!

[2019-01-29 21:51] bdw429s opened #149 "Runwar resolves full file system paths via the URL"
This only affects *nix OS's and will only serve files from the web root, but it potentially exposes the full path to the web root to a user who can guess the path.
[code]
That URL above works because the path `/Users/brad/Projects/mySite/css/fontawesome.css` is a real absolute path on the file system.  However, it should not work.  The mapped resource manager allows this because it strips off the

[2019-02-14 16:39] bdw429s opened #150 "If custom rewrite file is already in correct destination, runwar overwrites it as 0 bytes"
See this ticket:

https://ortussolutions.atlassian.net/browse/COMMANDBOX-941

Basically if someone provides a custom rewrite file and they've already put it in the correct place in the server home, runwar tries to copy it on stop of itself which wipes it out.

Check the source and destination path and skip the copy if the file is already in the correct place.  This was on a Docker container.

[2019-02-25 16:41] bdw429s commented on #143
The repaces this ticket is referring to also appears to add extra slashes into  the paths.  For instance:
[code]

[2019-05-15 18:59] mjclemente opened #151 "Building Project error with .cfdistrorc"
I'm a newbie to using this project directly, so please forgive my ignorance.

I cloned it and tried to build it via running `./gradlew` but got an error that `.cfdistrorc` referenced in line 14 of `runwar/gradle/config.gradle` doesn't exist. Here's the full line referenced:

[code]

Obviously I don't have the file. Is there somewhere else I should get that from?

Thanks for all the work you do wit

[2019-05-20 07:00] denuno commented on #151
Theoretically working again, please give it a go and holler if not. Thanks!

[2019-05-20 20:40] mjclemente commented on #151
Thanks! Build is working now. Appreciate it!

[2019-05-20 20:40] #151 closed, assigned to nobody

[2019-05-21 06:53] denuno commented on #133
Something like this:
 `--undertow-options "MAX_AJP_PACKET_SIZE=65536,NO_REQUEST_TIMEOUT=60000"`

And then XNIO options depending on how much oomph you have:
`--xnio-options "WORKER_TASK_CORE_THREADS=20,WORKER_IO_THREADS=6"`

Would be the equivalent of those connector settings I think.  Only develop exposes all the Undertow options though, so this won't work with the current stable release.

[2019-05-21 06:54] denuno commented on #133
Available options and their meaning: http://undertow.io/undertow-docs/undertow-docs-2.0.0/#listeners-2

[2019-10-17 08:03] cubortea opened #152 "Max Thread with setting"
currently the Max thread in runwar is hardcode at 30

https://github.com/cfmlprojects/runwar/blob/a233cd3f343b27250e8d9fc2724f0cccbb2dc784/src/main/java/runwar/Server.java#L376

is there any possibility to add the configuration for this? so we can set the value whatever we want.

[2019-10-22 11:01] highcourter commented on #152
we would need this as well desperately!

[2019-10-22 13:25] bdw429s commented on #152
@highcourter The next release of CommandBox will contain this fix.  It is in testing now.  In fact, it's been done for a while, we just have a lot of regressions to address.

[2020-09-10 08:42] samdaams commented on #104
Did you guys ever figure out the cause of this issue, because I am running into EXACTLY this issue. Removing the conditions (same as above) that are kicking back the following error: "urlrewrite.Condition: Condition 0 had error: you must set a name for a header" are trigger, the .htaccess loads fine. With them in there, the whole file ends up being ignored: "urlrewrite.UrlRewriteFilter: Conf faile